[2016-02-09 18:01] douglance opened #1 "Feature Request: List today's tasks"
I love the workflow. It's awesome. I would like to be able to see today's tasks when I type "todo" or hit the hotkey I set up. It'd it super convenient to list them there! Thanks for a great workflow!

[2016-02-09 20:56] moranje commented on #1
Hmmm interesting idea, I would have to read up on the Alfred documentation to see how to present multiple options in the dropdown menu.

[2016-02-09 21:30] douglance commented on #1
Check out https://github.com/fspinillo/slackfred for a workflow that does a similar thing (list objects using an API).

[2016-02-10 22:33] moranje commented on #1
@douglance I have a present for you :)

[2016-02-11 16:40] douglance commented on #1
I'm trying to get it to work but it's not working for me! I'm not sure where to put the API key in the osascript. I'm on the latest El Capitan.

[2016-02-11 16:41] douglance commented on #1
Oh snap! I found it. That is awesome!

[2016-02-11 21:50] moranje commented on #1
Great I'm glad you like it :)

[2016-02-11 21:50] #1 closed

[2016-02-23 14:59] douglance opened #2 "Feature Request: Assign item to Project"
I'm back! :smile:

It would be great to be able to assign a task to a certain project using the comma separator syntax. I am adding tasks and then going through my inbox later to sort them to my different projects. It would save me the hassle.

Thanks again for the great workflow! :+1:

[2016-02-29 19:36] moranje commented on #2
Hi!

Sorry for the late reply, I am currently stretched a little thin for time. I'll pick this up later but I don't expect to have a lot of time to dedicate to this in the next couple of weeks. I'll check back with you in a little bit.

Martien

[2016-03-07 20:37] moranje commented on #2
In case you hadn't noticed, Todoist now natively supports this.

Martien

[2016-03-08 06:33] jdoconnor opened #3 "listing todos not functional"
I'm getting a file not found... when i have time, i'll dig into this, but I wanted to leave a note here with the debug information.

This happens when typing "tod" and using the mouse or keyboard to select the list todos item

[code]

[2016-03-12 12:16] moranje commented on #3
I see, can you verify that there is a called `~/Library/Script\ Libraries/` containing three files?

[2016-03-13 15:13] jdoconnor commented on #3
I manually copied them into that directory, but still error on reading the file (the permissions are ok)
`[ERROR: alfred.workflow.input.scriptfilter] Code 1: 340:377: execution error: Error on line 15: Error: Library can't be loaded at path: /Users/jdoc/Library/Script Libraries/workflow.scpt. (-2700)`

[code]

weird, huh?

[2016-03-14 09:28] moranje commented on #3
Yeah, the debugger on OSX javascript is not very descriptive.

For reference this is the problem:
line 15 in get-tasks.js
[code]

However it makes no sense to me that this does't work. Are you on El Cap?

[2016-03-14 13:04] jdoconnor commented on #3
I am. zsh as default (maybe I'll throw it into bash and see if that's
better)

On Mon, Mar 14, 2016 at 2:28 AM Martien Oranje <notifications@github.com>
wrote:

[2016-04-12 20:00] noisufnoc commented on #2
Hi Martien, can you point me to the docs/syntax for the native support in Todoist?

[2016-04-12 20:50] noisufnoc commented on #3
I'm having a similar issue, on OSX 10.10

`[ERROR: alfred.workflow.input.scriptfilter] Code 1: 2016-04-12 16:47:25.338 osascript[61776:4342188] warning: failed to get scripting definition from /usr/bin/osascript; it may not be scriptable.
2016-04-12 16:47:25.377 osascript[61776:4342188] warning: failed to get scripting definition from /Users/noisufnoc/Library/Script Libraries/workflow.scpt; it may

[2016-04-13 08:22] moranje commented on #3
I will look into a better solution for this

[2016-04-13 08:28] moranje commented on #2
Yes, with the app in the background run `shift` + `cmd` + `a`. There you'll be able to use all todoists natural language features. Like '#' for selecting projects, '+' for selecting a person etc.

[2016-05-23 08:55] raidiant opened #4 "Listing doesn't work"
I have listing items bound to Alt+t, but it says it's retrieving my Todos and then shows nothing at all.

[2016-05-31 21:55] twhite96 commented on #4
Same issue here.

[2016-06-15 00:35] JC1738 commented on #4
Yes, using Alfred 3, adding works, but retrieving list doesn't do anything.  The add in task is great, thanks!

[2016-06-29 13:55] moranje commented on #4
I will try to find some time for this soon, thanks for letting me know

[2016-06-29 13:56] #2 closed

[2016-06-29 14:01] #4 closed

[2016-06-29 14:03] moranje commented on #3
I will try to find some time for this soon, more people seem to be using this than I thought.

Martien

[2016-07-03 21:13] moranje commented on #3
Updated to version 2.0.0, listing requires Node.js and should now work,

Cheers

[2016-07-03 21:13] moranje commented on #4
Updated to version 2.0.0, listing requires Node.js and should now work,

Cheers

[2016-07-05 17:13] #3 closed

[2016-08-04 15:33] tconroy opened #5 "Issue: Task is not persisting to todoist after submit"
Hi,
I'm running into an issue with this workflow. I've followed the setup instructions (minus installing NodeJS, since I already have that installed as I am a web developer).

When I open Alfred and type `todo pickup the milk tomorrow @ 9am`, hit enter, I get the OSX notification that the task was saved. However, when I open my todoist app or check my account online, the task is not there.

Any id

[2016-08-04 15:47] tconroy commented on #5
aha! so I seem to have found the solution.

The workflow did not create a directory in
[code]

so I manually created the `com.alfred-workflow-todoist` folder in that directory.

After doing that, I re-added my API token `t:token <my token here>`

that seems to have created the `settings.json` file in the `com.alfred-workflow-todoist` directory. My todos are now getting added to todoist. :)

Might

[2016-08-10 21:49] bodegabodega commented on #5
Thanks for the heads up @tconroy .. and thanks for the workflow @moranje

[2016-08-11 07:01] dissonanz opened #6 "Incompatible Workflow for Alfred 2.8.6"
I've just tried to import the workflow into Alfred 2.8.6, and it shows me a message stating that this version of Alfred is too old. Did you create this in Alfred 3?

[2016-08-22 13:40] s3frank opened #7 "Expanding the parsing of todo string?"
Hi there,

I think you are Dutch as am I but for the sake of others I will stick to English. I created a server based set of php file to filter through a text blob and look for markers that signify a todo item. Then parse it for a specific structure that allow the string to contain todo, date & time, project and labels. It then connects to your account and shoves all the Todo's into your account.

[2016-08-22 13:46] moranje commented on #5
I've fixed that now, thanks for the heads up!

[2016-08-22 13:46] #5 closed

[2016-08-22 13:47] moranje commented on #6
Yes, I use filters for the notification messages, those are not in alfred 2.x

[2016-08-22 13:47] #6 closed

[2016-08-22 13:52] moranje commented on #7
The date parsing I use is the one Todoist supplies with their API. Can you give an example of a date string that isn't parsed as you would expect? Or is it that the parsing done by Todoist doesn't meet your needs?

I'd be happy to collaborate once I understand what you need.

Martien

[2016-08-22 14:08] s3frank commented on #7
I used your workflow today and typed "todo go do something 3pm tomorrow".
result: whole string in todo no date parsing

If I use the client directly on my machine and I type this it will
recognize the "3pm tomorrow" part.

Personally what I am after is the ability to have both date & time, project
and labels in the one string.
I created that in my PHP thing using separators like :: for time and //

[2016-08-22 14:15] moranje commented on #7
Yes, todoist supports this natively. The only thing you would need to do (no pun intended) is to add a comma (and use the language you've setup of course), so if you where using English `todo go do something, 3pm tomorrow` should work. Dutch works as well (just tested). The api only parses a date string and not an entire todo unfortunately, so using their API I have to separate the date part. But

[2016-08-22 14:22] tconroy commented on #5
👍

[2016-08-23 02:42] moranje commented on #7
Updated the project with the ability to add tasks to projects and add labels to tasks

[2016-08-23 02:42] #7 closed

[2016-08-23 11:56] moranje commented on #2
This was implemented on the last update

[2016-08-26 20:53] kitsully opened #8 "Not Working to Post to Todoist"
Hi,

This workflow isn't working for me after inserting my token. I get the success popup, but nothing shows up in todoist.

Thank!

[2016-08-26 21:08] moranje commented on #8
Try this one:

[Fix](https://github.com/moranje/alfred-workflow-todoist/raw/master/dist/Alfred%20Workflow%20Todoist.alfredworkflow)

[2016-08-26 21:13] kitsully commented on #8
No luck. I'm supposed to add the token by running the t:token command and pasting it in right?

[2016-08-26 21:18] moranje commented on #8
Yes, there should be a file called settings.json in ~/Library/Application
Support/Alfred 3/Workflow Data/com.alfred-workflow-todoist. ~ stands for
you home directory (/Users/{username}). Can you verify that it’s there?

--
Martien Oranje

Op 26 augustus 2016 bij 23:13:05, Kristopher Sullivan (
notifications@github.com) schreef:

No luck. I'm supposed to add the token by running the t:token command

[2016-08-26 22:16] kitsully commented on #8
It is there. Looks like it has my token in it too.

[2016-08-27 07:41] moranje commented on #8
Okay, so you did replace the workflow with the one I send you? You haven't changed any of the commands right? Can you send me the exact command you used to create a task?

Here's a couple of things I need you to check:
- Is there a file called todoist.json here `~/Library/Caches/com.runningwithcrayons.Alfred-3/Workflow Data/com.alfred-workflow-todoist`
- Does it have any data in it?

[2016-08-27 11:08] moranje commented on #8
I have a better idea, I baked you a version with some more debug information baked in. Do you know how to open the debug console in Alfred? Send me the debug information that this version spits out when you run `todo test`.

DEBUG VERSION 3.1.2
[Alfred Workflow Todoist](https://dl.dropboxusercontent.com/u/10112105/Alfred%20Workflow%20Todoist.alfredworkflow)

[2016-08-27 14:36] WillPlatnick opened #10 "Workflow doesn't work because of PATH issues"
First, thanks for doing this!

Second, I saw you started working through the static PATH issues  so others could use the workflow.  There was one more to go before it started working.

[2016-08-27 14:36] #10 closed

[2016-08-27 14:39] WillPlatnick opened #11 "Packal Source"
When you download from packal, even though it says it's downloading the 3.1.1 release on the web site, what is actually downloaded isn't 3.1.1 in Alfred, as it didn't have your PATH changes in calls.js. I had to put those in manually, and also this one https://github.com/moranje/alfred-workflow-todoist/pull/9

[2016-08-27 14:49] moranje commented on #10
Ah right, thanks for catching that!

[2016-08-27 15:03] moranje commented on #11
I've updated the binary both on packal as well as on github. Can you verify that this fixes your problem?

[2016-08-27 15:04] moranje commented on #8
Should be fixed now, #9 thanks @WillPlatnick

[2016-08-27 15:55] WillPlatnick commented on #11
👍

[2016-08-27 16:04] #11 closed

[2016-08-30 03:56] kitsully commented on #8
It seems like its working now. I think this is all my bad. I had a weird NodeJS configuration. Thanks for all your help though. I really appreciate it.

[2016-08-30 03:56] #8 closed

[2016-09-07 21:27] johin opened #12 "Support for nested projects"
Getting an error when passing a nested project name.

[2016-09-08 16:34] moranje commented on #12
Hi! If your nested project has a unique name, just use the name of the name the deepest nested project. There is a problem for which I don't have a solution at the moment for duplicate project names. There is no way to know which of the projects are nested under which parent from the information I get from the API. Btw project names are allowed to have `/` in their names so it wouldn't be possible

[2016-09-08 16:36] #12 closed

[2016-11-27 03:48] mattfysh opened #13 "Sort by due date"
Great workflow, love that I can add a new todo in <1 sec now! Quick question on the `todos` list... is there something I can type or configure to see only overdue + today's tasks? Right now when I type `todos` I'll see a list of (somewhat) arbitrarily-sorted items. Thanks! 😃

[2016-11-27 03:52] mattfysh commented on #13
nice-to-have: also sort by priority

[2016-12-11 02:57] superradian opened #14 "Project labels aren't being added to the task"
Thank you for this extension, it's been incredible and I'm loving it so far! I ran into an issue last night where for some reason, adding my project labels don't work anymore and they all go to my inbox. I've tried capitalizing and adding hashtags to no avail.

Does your extension support Sub-Projects? I made a new test folder without sub-projects to test, but it still failed. I did add sub-projec

[2016-12-12 15:48] superradian commented on #14
Actually, now the extension isn't working at all. I'll get a notification that it was successfully added, but all I'll have is a blank task in the app. The only thing that loads is the due date, but not the task or the project.

[2016-12-14 18:11] moranje commented on #14
I will try to look into it when I have some time.

Op ma 12 dec. 2016 16:48 schreef superradian <notifications@github.com>:

[2017-01-10 19:46] stacksjb commented on #14
I found it works using the todo {task},{date},{project} format for me.

Ideally I'd like to add tasks using the same natural language as in todoist, with # for project. For example, todoist takes this:

Finish report #work p2 ev jan 3 (goes to work project with priority 2 due every jan 3)..

[2017-02-26 10:56] novotnyr opened #15 "Show Due Dates in `todos`"
It would be nice to show Due Dates in `todos` command.

Generally, each item from [Alfred API](https://developer.todoist.com/#items) contains either the `date_string` (natural language format) or `due_date_utc` date. UTC date can be processed and shown in the Alfred item content.

[2017-03-04 22:04] bfolberth commented on #14
@stacksjb +1

[2017-05-27 21:08] moranje commented on #15
Maybe I am mistaken but there doesn't seem to be a `date_string` in the alfred API, perhaps you meant the one in the Todoist API?

What would you like the format the be like `[date_string]: Get the broccoli`?

[2017-05-27 21:22] moranje commented on #14
I will look into parsing `#project`, however I see no easy way to differentiate between task text and date text so a separator will still be required there.

[2017-05-27 21:24] moranje commented on #13
Hi! Is this still something that would interest you?

[2017-05-28 13:13] novotnyr commented on #15
My bad, it is indeed in the Todoist API.

In my local setup, I am using `Get the broccoli: ([date_string])`.

<img width="578" alt="todoist-alfred" src="https://cloud.githubusercontent.com/assets/1109928/26529012/19dc47a6-43b8-11e7-96df-750ccb5adcb6.png">

[2017-06-07 17:51] moranje commented on #14
I have prepared a beta version that does just this. Also added some sugar for selecting projects and labels. Let me know if this is what you meant.

[Alfred Workflow Todoist.alfredworkflow.zip](https://github.com/moranje/alfred-workflow-todoist/files/1058873/Alfred.Workflow.Todoist.alfredworkflow.zip)

[2017-06-15 01:45] stphnlwlsh commented on #13
I second this and might be able to take a crack at it.

[2017-06-15 02:31] moranje commented on #13
I am working on this myself, but in doing so I refactored a lot of the js code. Now is a bad time to jump into this.

[2017-06-18 03:13] #14 closed

[2017-06-19 01:54] moranje opened #17 "Update README for v3.1.5"
Issue created with imdone.io

----

todo: Update README for v3.1.5 +docs id:0
[**README.md:4**](https://github.com/moranje/alfred-workflow-todoist/blob/master/README.md#L4)

@imdone *Issue Creator*. The developer's task board. [imdone.io](https://imdone.io)

[2017-06-19 01:54] moranje commented on #17
todo: Update README for v3.1.5 +docs id:0 gh:17
      [**README.md:4**](https://github.com/moranje/alfred-workflow-todoist/blob/undefined/README.md#L4)
@imdone *Issue Closer*. The developer's task board. [imdone.io](https://imdone.io)

[2017-06-19 01:54] #17 closed

[2017-06-19 01:56] moranje opened #18 "Update README for v3.1.5"
Issue created with imdone.io

----

todo: Update README for v3.1.5 +docs id:1
[**README.md:4**](https://github.com/moranje/alfred-workflow-todoist/blob/master/README.md#L4)

@imdone *Issue Creator*. The developer's task board. [imdone.io](https://imdone.io)

[2017-06-19 01:58] moranje commented on #18
todo: Update README for v3.1.5 +docs id:1 gh:18
      [**README.md:4**](https://github.com/moranje/alfred-workflow-todoist/blob/undefined/README.md#L4)
@imdone *Issue Closer*. The developer's task board. [imdone.io](https://imdone.io)

[2017-06-19 01:58] #18 closed

[2017-06-19 01:59] moranje opened #19 "Update README for v3.1.5"
Issue created with imdone.io

----

TODO: Update README for v3.1.5 +docs id:2
[**README.md:4**](https://github.com/moranje/alfred-workflow-todoist/blob/master/README.md#L4)

@imdone *Issue Creator*. The developer's task board. [imdone.io](https://imdone.io)

[2017-06-19 02:00] moranje commented on #19
----

TODO: Update README for v3.1.5 +docs gh:19 id:3
[**README.md:4**](https://github.com/moranje/alfred-workflow-todoist/blob/master/README.md#L4)

@imdone *commenter*. The developer's task board. [imdone.io](https://imdone.io)

[2017-06-19 02:00] moranje commented on #19
TODO: Update README for v3.1.5 +docs id:2 gh:19
      [**README.md:4**](https://github.com/moranje/alfred-workflow-todoist/blob/undefined/README.md#L4)
@imdone *Issue Closer*. The developer's task board. [imdone.io](https://imdone.io)

[2017-06-19 13:49] moranje commented on #19
TODO: Update README for v3.1.5 +docs gh:19 id:3
      [**README.md:4**](https://github.com/moranje/alfred-workflow-todoist/blob/undefined/README.md#L4)
@imdone *Issue Closer*. The developer's task board. [imdone.io](https://imdone.io)

[2017-06-19 13:49] #19 closed

[2017-06-25 07:46] moranje commented on #15
This has been added to the latest release

[2017-06-25 07:46] #15 closed

[2017-06-25 07:52] moranje commented on #13
I am postponing this feature until next release. Time contrains and all. Thanks for understanding.

Martien

[2017-06-28 19:29] rtyshyk opened #20 "Search by tag, project"
Thanks for the workflow!
Could you please add search by tag/project in the same was as it is implemented in todoist search?

Thanks,
Roman

[2017-06-28 20:24] moranje commented on #20
Hi Roman,

Thanks for opening a ticket. I do intend to implement a better search
feature in the future that allows searching by tag, priority an project.
However it will likely take some time before I'll be able to allocate some
open source time again. Keep an eye on this issue.

Thanks

--
Martien Oranje

Op 28 juni 2017 bij 21:29:59, Roman (notifications@github.com) schreef:

Thanks for the work

[2017-07-16 01:42] BenCole opened #21 "Invalid token"
Setting this workflow up on a new machine and unable to add the api token.

t:status {{api token}}

This error "not a valid token" is returned.

The string passes the regex check but errors afterwards.

It looks like there are some other users seeing this behaviour in the last couple of weeks: https://www.alfredforum.com/topic/8554-todoist-workflow/?page=3

[2017-07-23 10:43] moranje commented on #21
You are right. Thanks for creating an issue. I updated the workflow to version 3.1.6 which fixes that problem. It had to do with JSON not being parsed correctly, which messed up the way token was checked.

Martien

[2017-07-23 10:43] #21 closed

[2017-07-24 08:08] BenCole commented on #21
@moranje Thanks for update. Unfortunately there seems to be a second issue when creating todos. I now get an "invalid argument" error message when attempting to create a simple todo. It looks like someone on the forum has the same issue too.

https://www.alfredforum.com/topic/8554-todoist-workflow/?do=findComment&comment=53620

[2017-07-31 15:04] semmons99 opened #22 "invalid argument error"
Howdy. I am getting an error anytime I try to create a new todo. Listing items is not an issue. Here is the error console output.

[code]

Please let me know if there is anything I can do to help debug this.

[2017-08-03 08:43] chrisramakers commented on #22
Same here, adding tasks doesn't seem to work ... api gives this output

`Error: Invalid argument value","command_type":"item_add","error_code":20,"http_code":400}},"temp_id_mapping":{},"full_sync":true,"sync_token":"tKK_Nh8YVTGKdj-LWsl4iKAbzGkM2pVITpmJg9mOUNWERffnN4sd_oPY6g1gXjdg7RVVt84U6lAkkm5runGkQ4CbsUk7aejdp8fRZBDNNYFi`

[2017-08-08 12:54] dkpalmer commented on #22
Have run into this as well. Looks like it's the same issue as https://www.alfredforum.com/topic/8554-todoist-workflow/

[2017-08-08 22:35] moranje commented on #22
Yeah I'm sorry for the delay I'm working on an update that includes a test
suite and a switch from bash to mostly js. Stay with me.

--
Martien Oranje

Op 8 augustus 2017 bij 14:54:11, Danny Palmer (notifications@github.com)
schreef:

Have run into this as well. Looks like it's the same issue as
https://www.alfredforum.com/topic/8554-todoist-workflow/

—
You are receiving this because you are subs

[2017-08-08 23:07] semmons99 commented on #22
@moranje is there anything we can help with? I am pretty well versed in js.

[2017-08-27 20:38] moranje commented on #22
It's coming along, but you'll have to forgive the pace in favor of a steady release. This one will have a test suite to go along with it and is mostly written in js (well typescript). Hang on!

[2017-08-31 19:47] moranje commented on #22
I want to keep you in the loop. I have finished rewriting everything in typescript. I need to write a bunch of tests to make sure that everything works as expected. should be version 4.0.0. I can work on including more functionality if that's released.

[2017-08-31 20:07] semmons99 commented on #22
![aww yeah](https://media.giphy.com/media/3oz8xRF0v9WMAUVLNK/giphy.gif)

[2017-09-01 07:08] NeverMoes commented on #22
Waiting for the fix, thanks a lot.

[2017-09-12 21:15] moranje commented on #22
The update is live (as a sort of pre release). Source code will come shortly but you can download the workflow on github or using `t:update`.

Martien

[2017-09-15 12:31] dkpalmer commented on #22
Just gave it a try. Todo listing looks great. However, I'm still unable to create a todo w/ v4.0.0:

<img width="557" alt="screen shot 2017-09-15 at 5 30 50 am" src="https://user-images.githubusercontent.com/2394698/30482257-116a8b12-99d7-11e7-830b-b10c728528e7.png">

[code]

[2017-09-15 12:35] moranje commented on #22
You have entered the api key in `t:token`?

--
Martien Oranje

Op 15 september 2017 bij 14:32:09, Danny Palmer (notifications@github.com)
schreef:

Just gave it a try. Todo listing looks great. However, I'm still unable to
create a todo w/ v4.0.0:

[image: screen shot 2017-09-15 at 5 30 50 am]
<https://user-images.githubusercontent.com/2394698/30482257-116a8b12-99d7-11e7-830b-b10c728528e7.png>

[2

[2017-09-15 12:56] semmons99 commented on #22
same for me even after storing the token

[2017-09-15 12:59] moranje commented on #22
No errors either?

--
Martien Oranje

Op 15 september 2017 bij 14:56:01, Shane Emmons (notifications@github.com)
schreef:

same for me even after storing the token

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/moranje/alfred-workflow-todoist/issues/22#issuecomment-329774923>,
or mute the thread
<https://github.com/notifica

[2017-09-15 13:09] semmons99 commented on #22
Here is the debug info

[code]

[2017-09-15 13:11] dkpalmer commented on #22
Yep, token entered (confirmed I'm able to successfully list tasks via `todos`)

[2017-09-15 14:26] moranje commented on #22
Try a `t:update`, should be fixed now.

--
Martien Oranje

Op 15 september 2017 bij 15:11:24, Danny Palmer (notifications@github.com)
schreef:

"{\"labels\":[],\"priority\":null,\"project\":\"Inbox\",\"date\":\"\",\"task\":\"Test\"}","type":"default","valid":true,"autocomplete":"Test","icon":"icon.png","subtitle":"INBOX
         "},{"title":"Set project","uid”:”<my
projid>","arg":"","type":"defaul

[2017-09-15 14:36] seeARMS commented on #22
Same issues as above, but running a t:update first gives a `permission denied` error, then after running `chmod a+rwx ./shell/t.update.sh` it now says no updates are available

[2017-09-15 15:11] moranje commented on #22
Try again, I ave included a fix for the permission denied problem with
script files.

--
Martien Oranje

Op 15 september 2017 bij 16:36:34, Colin Armstrong (notifications@github.com)
schreef:

Same issues as above, but running a t:update first gives a permission denied
error, then after running chmod a+rwx ./shell/t.update.sh it now says no
updates are available

—
You are receiving this because y

[2017-09-15 16:40] dkpalmer commented on #22
Same issue as @seeARMS. Unable to install. I tried uninstalling my workflow and same result with download link on master.

[2017-09-15 18:09] semmons99 commented on #22
4.0.2 does not install for me either

[2017-09-15 19:52] moranje commented on #22
Thanks for your patience. I tried to create the binairy through script but
that seems to be failing so I reverted back creating a manual export.
Download should now work.

--
Martien Oranje

Op 15 september 2017 bij 20:09:12, Shane Emmons (notifications@github.com)
schreef:

4.0.2 does not install for me either

—
You are receiving this because you were mentioned.
Reply to this email directly, vie

[2017-09-16 00:53] semmons99 commented on #22
working for me again

[2017-09-17 20:32] #22 closed

[2017-11-08 20:13] joe-tofu opened #24 "Command inputs don't work"
On a fresh install of v4.0.2 (Alfred v3.5.1) a lot of central commands don't seem to work.

The "todo"-command doesn't do anything, "todos" get's listed in Alfred, but searching doesn't work.The "t"-command get's listed in Alfred, but only ":update" works. Neither ":token", nor ":language" or ":nodejs" works.

Debugging only gives back the following – (at least to me) not very informative – errors

[2017-11-13 15:00] idpaterson opened #25 "Binary seems to be outdated"
I forked the repo to submit a pull request increasing the maximum characters for matching projects and tags from 3 to unlimited, only to realize that you had already made that change. The binary on master seems to be for an older version that is still parsing tasks in JS; the new shell scripts (which for the purpose of my tweak already use `[^ ,]*` rather than `[^ ,]{0,3}`) are not bundled.

I'm g

[2017-11-14 21:10] mikedett91 commented on #20
I know this has been open for a bit but was wondering if you had been able to look into this functionality more, I feel like that one feature would help round out an already excellent workflow!

Being able to search by due-date would be the first thing that I personally would desire, or a way to filter out recurring tasks that you've completed for the day, etc

[2017-11-16 18:59] mikedett91 commented on #24
@joe-tofu I do not think it is an issue with the workflow, I'm using it with the versions that you posted. Can you post the command you used to update your token? And what is the behavior you see? "Does not work" only tells so much :)

[2017-11-30 23:00] moranje commented on #25
Yeah, I'm sorry about that. I'm working through a rewrite until then I won't be updating much. I've basically rewritten the entire thing.

[2017-12-02 19:39] disrupted commented on #25
Can you let me know here when you've finished the rewrite? Would be highly appreciated :)

[2017-12-03 05:40] moranje commented on #25
Yeah will do!

Op za 2 dec. 2017 20:39 schreef disrupted <notifications@github.com>:

[2017-12-03 05:41] moranje commented on #20
Yes, this will be fixed in the rewritten version of this workflow.

Martien

Op di 14 nov. 2017 22:10 schreef mikedett91 <notifications@github.com>:

[2017-12-04 01:56] idpaterson commented on #25
That's great, thanks for the news.

[2017-12-11 21:08] bodegabodega opened #26 "Missing Letters at end of Todo"
To reproduce, type in a todo and hit enter without waiting a beat. You will often have missing letters at the end of your todo.

Fantastic plugin btw .. use it non-stop and will attempt to hack away at this issue myself when I have a moment.

[2017-12-12 05:10] moranje commented on #26
I'm half way done with a full rewrite of the plug-in. Let me know once it's
done if you are still experiencing this issue.

Martien

Op ma 11 dec. 2017 22:09 schreef bodegabodega <notifications@github.com>:

[2017-12-20 05:50] alectivism commented on #25
Also experiencing this – looking forward to trying out the updated version! Thanks :)

[2018-01-03 16:26] idpaterson commented on #26
Like you I suspect that this will be less of a problem once your bash version is complete, but it might still be useful to share how I worked around this with the [Wunderlist workflow](/idpaterson/alfred-wunderlist-workflow).

I was using Python, so there was much more delay to deal with than what you have here. I ended up using bash for the script filters and calling through to python just like t

[2018-01-03 16:32] idpaterson opened #27 "Todoist API error, invalid temp_id"
The Todoist API has started returning a 400 error when adding a task:

Please update the published version of the workflow to generate a uuid for `temp_id` rather than sending a blank string. Users facing this glitch can edit line 214 of `js/todoist.js` in the workflow to replace the blank string with `utilities_1.uuid()`:
[code]

The purpose of the `temp_id` in Todoist API calls is to allow objec

[2018-01-10 08:18] amoebakim opened #28 "Unable to verify the first certificate"
I've got error like below message.
[code]

This is alfred workflow log.
[code]

This is my npm global config.
[code]

Please let me know how to resolve this error message.

[2018-01-14 14:36] iamfreee commented on #13
Any news on this? :)

[2018-01-14 15:51] moranje commented on #13
Yeah I have much of the rewritten code finished but I haven't had any time to squash the last bugs and update the test suite between a home make-over, work and my parental duties. I don't have a lot of time to allocate in January. Thanks for helping out.

M

[2018-01-14 15:51] moranje commented on #13
Yeah I have much of the rewritten code finished but I haven't had any time to squash the last bugs and update the test suite between a home make-over, work and my parental duties. I don't have a lot of time to allocate in January. Thanks for helping out.

M

[2018-01-14 15:51] moranje commented on #13
Yeah I have much of the rewritten code finished but I haven't had any time to squash the last bugs and update the test suite between a home make-over, work and my parental duties. I don't have a lot of time to allocate in January. Thanks for helping out.

M

[2018-01-26 23:18] snipem opened #29 "Workflow does not honour Alfreds and macOS proxy settings"
When adding a todo task with "todo test" I get the following error:

[code]

My Mac does not have a direct route to the internet. Adding tasks works when having a direct route.

Alfred-workflow-todoist version: v4.0.2
Alfred version: v.3.5.1

[2018-03-05 07:30] mpco opened #31 "Add support for adding task's comments"
comment is necessary for task.

[2018-04-11 09:11] smagdali commented on #24
I'm seeing this too. I have installed node.js (and if I try and install again it complains), but not all commands and none of the fancy parsing features are working for me. Running 3.14

[2018-04-11 09:17] smagdali commented on #24
fixed by upgrading to 4.02

[2018-07-05 03:06] cbiggins opened #32 "Time string doesn't work."
Using the todoist time strings doesn't work for me. See images below of creating the task and viewing it in Todoist.

![screen shot 2018-07-05 at 1 04 32 pm](https://user-images.githubusercontent.com/30534/42300473-0f0a97ea-8054-11e8-8fb0-70335e679a15.jpg)

![screen shot 2018-07-05 at 1 04 48 pm](https://user-images.githubusercontent.com/30534/42300472-0edd6a86-8054-11e8-864d-9e147f729ecc.jpg)

An

[2018-07-05 07:11] DariuszMusielak commented on #32
For me it works in that way,

[2018-07-05 07:13] cbiggins commented on #32
Perfect! Thank you!

[2018-07-05 07:13] #32 closed

[2018-07-24 17:26] melikarslan opened #33 "Priority orders"
First of all thank you for great work.

In Alfred workflow, the most important priority can be set as !!4, but this is not the correct notion according to default Todoist shortcuts. It should be !!1.

You can see details on https://support.todoist.com/hc/en-us/articles/205873321

Also, it would be great to support p1,p2,p3,p4 notion like Todoist.

[2018-07-24 17:36] melikarslan opened #34 "View task in browser [modifier]"
I don't know if this is the correct place to ask features, if not please let me know so I can move/delete.

- Option to view task in browser instead of marking as complete when pressing enter. I don't know if this is technically possible, but it would be more than great if it opens in the Todoist app (if installed).

- Adding comments & files to created tasks.

Again, thanks for great work @moranj

[2018-08-28 13:03] infn8 commented on #34
+1 on this.  My thought is that either <option> + <enter> or <ctrl> + <enter> would be a good candidate.

[2018-08-30 19:02] fxjkhr opened #35 "Update version on packal.org"
Hi,

The latest version of this workflow @ http://www.packal.org/workflow/alfred-workflow-todoist is 3.1.4 and should be updated to the latest

[2018-09-09 13:13] mvaneijgen opened #36 "Is it possible to exclude a list from the Alfred interface?"
I have a few lists that I use with the the Todoist API which are not really todos that I need to see often. I would love them to be hidden from the Alfred interface, but I don't see a option.

What I was thinking is that if a list began with a specific character it would not show up in the list eg `_hidden list` would not be shown.

Any thoughts?

[2018-09-16 01:55] inovek opened #37 "Disable/Disallow empty Todo-Entrys"
Sometimes I create empty todos, when I tried to start the Todoist app and confirmed to fast with enter. Is or could be there an option to disable the creation of empty todo-entrys?

[2018-09-30 22:08] moranje commented on #33
I'm adressing this in an update

[2018-09-30 22:11] moranje commented on #31
This is a large feature to implement and isn't a priority for the next release

[2018-09-30 22:12] #25 closed

[2018-09-30 22:14] moranje commented on #29
Not sure what you were asking here, closing. I can reopen if this (whatever this is) remains an issue.

[2018-09-30 22:14] #29 closed

[2018-09-30 22:15] moranje commented on #28
Not the faintest idea what could have caused this, closing until update is released

[2018-09-30 22:15] #28 closed

[2018-09-30 22:16] moranje commented on #20
Still intend to (re)implement this

[2018-09-30 22:17] moranje commented on #27
Closing until the new version is released

[2018-09-30 22:17] #27 closed

[2018-09-30 22:22] #33 closed, assigned to nobody

[2018-09-30 22:29] moranje commented on #34
Let's track adding support for comments in #31. Opening in the browser should be possible with modifier keys, but I'm unsure how. If anyone is willing to dig in to the Alfred documentation, I'm willing to implement this if it's not to much work.

[2018-10-01 06:50] melikarslan commented on #34
Thanks for supporting this @moranje.

Two things:

1- Will you consider making it default instead of triggering with a modifier? When I was realized pressing enter makes the task completed, I was quite shocked. Because, I was expecting to browse the task, since we all developed intuition over the years to see details of the item when pressing enter, not trashing it.

2- I have one more feature sug

[2018-10-01 14:11] lifehackett opened #38 "Unable to import"
When I DL and try to import the workflow, it does **not** get imported. I was able to import the previous version of the workflow before the the "rewrite".

Alfred: v3.7 [938]

Thanks!

[2018-10-02 04:30] #38 closed

[2018-10-02 07:36] moranje opened #39 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-10-02 22:13] #39 closed

[2018-10-04 04:11] repercussion opened #40 "[ERROR: input.scriptfilter] JSON error"
Nothing works.

Alfred Todoist workflow v5.0.0
Alfred v3.7
Node.js v10.11.0

[code]

[2018-10-04 05:39] repercussion commented on #40
Here's me trying to do a t:
[code]

[2018-10-04 08:55] moranje commented on #40
Try completely uninstalling the old workflow. `todo`, `todos` and `todo:setting` work on my end. I'll upload a version with better error reporting.

PS: this version ins't feature complete yes adding labels and projects to tasks isn't working yet.

[2018-10-04 14:14] moranje commented on #40
@repercussion I've updated the workflow

[2018-10-04 22:29] moranje commented on #34
I've looked into a notification module outside of alfred but I'm afraid I can't get it to work with the bundler I am using. Alfreds built-in notifications won't allow for clicking a link.

As for 1. the task does say 'COMPLETE TASK' so it should have come as a complete suprise. I rarely feel the need to edit items after I created them, I have also not heard the request before so I am going to leav

[2018-10-05 03:59] repercussion commented on #40
Alrighty. Completely removed then reinstalled. Here's the output of todo:setting:

`Starting debug for 'Alfred Workflow Todoist'

[2018-10-04 20:57:19][ERROR: input.scriptfilter] JSON error: JSON text did not start with array or object and option to allow fragments not set. in JSON:
TypeError: Cannot read property 'explanation' of undefined

ALFRED WORKFLOW TODOIST
--------------------------------

[2018-10-05 04:42] moranje commented on #40
Ah I understand now, I'll try and upload a fix tonight

[2018-10-05 14:32] raygan commented on #40
Thanks. I think I'm seeing the same issue on High Sierra. This is what I see in the log when I try to configure my API token:

[code]

[2018-10-05 15:10] moranje commented on #40
This problem affects anyone who used the workflow before

[2018-10-05 16:15] raygan commented on #40
Ah, yep. I installed it a while back and couldn't get it to work for some reason. Uninstalled it and tried it again recently.

[2018-10-05 18:45] moranje commented on #40
@repercussion @melikarslan @raygan Please try version `v5.1.3`.

[2018-10-05 21:07] raygan commented on #40
Well, I was able to get it to let me try to set a token, but every time I try my API token I get a message saying `Error: Can't set token to XXXX` where XXXX is my API token. I'm certain what I have entered is correct, and I even tried having todoist generate me a new API token.

This might be a separate issue though. Should I open a new issue or continue here?

[2018-10-05 21:10] raygan commented on #40
Nothing shows up in the "Interesting information" log but here's what I see when I try All Information:

(I've edited out my token)

[code]

[2018-10-06 15:49] moranje commented on #34
Ok, I've got a custom notification handler so linking to the created task should be possible now

[2018-10-06 19:48] moranje commented on #34
This should now work with version 5.2.0

[2018-10-06 19:48] #34 closed

[2018-10-07 00:53] melikarslan commented on #40
I'have updated to 5.2.0 and still can't set my token. Debugging shows no useful info, just says "can't set token to <token>"

[2018-10-07 07:16] moranje commented on #40
Just to make sure:

1. Your token is 40 chars and consists only of 0-9 and a-f, try `aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa`
2. You entered something like `todo:setting token <token>`
3. When you entered the token you should have seen a cross change to a check mark

[2018-10-07 12:07] moranje commented on #40
:tada: This issue has been resolved in version 5.3.0 :tada:

The release is available on [GitHub release](https://github.com/moranje/alfred-workflow-todoist/releases/tag/v5.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-07 15:53] moranje commented on #40
I was having a bit of misunderstanding with the automated build today, but the latest (5.4.1) should fix this problem

[2018-10-08 14:48] raygan commented on #40
I've updated to the latest release (5.4.2) but I'm still not able to set my token or use the workflow. When I enter "todo:setting" I only see ` [2018-10-08 08:45:02][input.scriptfilter] Queuing argument '' ` in the log and I get a notification that says "How unfortunate... TypeError: Cannot read property "type" of undefined."

[2018-10-08 14:58] raygan commented on #40
I uninstalled and tried the beta version you linked earlier. There I can at least try to set the token (the script filter for todo:settings brings up the token and other settings options) but trying to set the token still gives me an error. Here's the log:

[code]

I double checked my token using the regex you linked to as well and it's definitely 40 characters, 0-9 and a-f. I get the same error w

[2018-10-08 15:06] raygan opened #41 "Not able to set token"
Continuing from this (closed) issue:

_Originally posted by @raygan in https://github.com/moranje/alfred-workflow-todoist/issues/40#issuecomment-427864325_

[2018-10-09 01:51] melikarslan commented on #40
as of 5.4.3 I can set application token.

But project names are not suggested anymore when creating tasks.

[2018-10-09 03:41] moranje commented on #40
Yeah I noticed, sorry guys, to hasty

[2018-10-09 20:46] moranje commented on #40
I've added a lot of extra tests and I think I've caught a bunch of weird (not so) edge cases. Please try version 5.4.4.

[2018-10-10 03:53] moranje commented on #40
At least that's a clear error. I think the uuid key in your `settings.json` contains capital chars `A-F`.

[2018-10-10 08:24] michbsd opened #42 "Error when setting token"
Hi,

I am unable to set the token. When running the command manually, I get :

[code]

node: v10.1.0
OS: mojave
Workflow: 5.4.3
Alfred: 3.7

[2018-10-10 11:38] moranje commented on #42
Try 5.4.5 and let me know if you still run into problems. If you do an error log from the alfred debug screen helps

[2018-10-10 11:56] michbsd commented on #42
Still not working.

From alfred debug:

[2018-10-10 13:56:09][utility.debug] 'Something went wrong

Error: ENOENT: no such file or directory, open '/Users/mich/Library/Application Support/Alfred 3/Workflow Data/com.alfred-workflow-todoist/settings.json'

ALFRED WORKFLOW TODOIST
----------------------------------------
os: macOS
query: {"key":"token","value":"<token>"}
node.js: v10.1.0
alfred: 3.7

[2018-10-10 12:02] michbsd commented on #42
OK - I got it working, by manually creating :
~/Library/Application Support/Alfred 3/Workflow Data/com.alfred-workflow-todoist/settings.json

and also,

~/Library/Caches/com.runningwithcrayons.Alfred-3/Workflow Data/com.alfred-workflow-todoist/cache.json

[2018-10-10 13:31] moranje commented on #42
Hmmm maybe a permission thing, not sure why it won't create these files. Do you happen to know?

[2018-10-10 13:59] robcapell commented on #42
Having this issue as well - "No such file or directory". I manually created the folder and two files as @michbsd recommends, but I'm still receiving the same error.  node -v 8.4.0, OSX 10.14, Alfred 3

[2018-10-10 14:12] michbsd commented on #42
@moranje I had to create the folders.

[2018-10-10 14:50] technovangelist commented on #42
Just installed this workflow. Like the others, I created ~/Library/Application Support/Alfred 3/Workflow Data/com.alfred-workflow-todoist then ran touch settings.json. then created ~/Library/Caches/com.runningwithcrayons.Alfred-3/Workflow Data/com.alfred-workflow-todoist and ran touch cache.json

Now everything works

[2018-10-10 15:36] moranje commented on #42
Alright thanks for drilling this down, expect a fix soon

---
Martien

________________________________
From: Matt Williams <notifications@github.com>
Sent: Wednesday, October 10, 2018 4:50:14 PM
To: moranje/alfred-workflow-todoist
Cc: Martien Oranje; Mention
Subject: Re: [moranje/alfred-workflow-todoist] Error when setting token (#42)

Just installed this workflow. Like the others, I created ~/Li

[2018-10-10 17:55] raygan commented on #40
Fantastic! With 5.4.5 I was able to set my token and add tasks.

Unfortunately I'm getting an error when I try to view tasks by typing "todos". Should I open a new issue? Here's the log:

[code]

[2018-10-10 18:13] moranje commented on #40
@raygan you keep throwing these puzzles at me. You're not behind a proxy right? Can just make sure the token is set? You should see it when entering a new token as the 'old' value. Last I got a 4xx error was because I had emptied my token.

[2018-10-10 19:38] moranje commented on #40
Can you create a task? The `404` makes no sense, the url is the same. Can you run something for me?

### Download
1. [Postman](https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop)
2. Try the following config and run it, to see if you are able to connect to the todoist API

<img width="1282" alt="schermafbeelding 2018-10-10 om 21 34 30" src="https://user-images.github

[2018-10-10 19:52] moranje commented on #40
This is a headscratcher, let me ponder on this a little while longer. In the meanwhile, I just released `5.5.0` which should fix nothing of this sort but who knows...

[2018-10-11 14:08] smithers420 opened #43 "Error with self-signed certificate"
After setting up the API token (issued by Todoist) I cannot get the workflow to work anymore. See error attached. Any idea how to restore this?
![2018-10-11_16-05-24](https://user-images.githubusercontent.com/44062422/46809948-e57c6980-cd6f-11e8-91ec-a6b28692f393.png)

[2018-10-11 15:31] moranje commented on #43
This really sounds like a todoist problem. I have no way to influence SSL certificates. Does anyone else experience this?

[2018-10-11 15:35] moranje commented on #40
I will try to see if there's any way to get more information about the problem from the todoist response. I'll update this post with a beta version.

[2018-10-12 07:32] smithers420 commented on #43
It seemed like it was caused by the company's network I was on yesterday. Probably they are replacing certificates by the firewall, etc. caused this issue with Todoist. Today it is working fine again. Closing this issue! Thanks. Awesome workflow by the way! kudos.

[2018-10-12 07:32] #43 closed

[2018-10-12 19:15] moranje commented on #41
I think this can be safely closed

[2018-10-12 19:16] #41 closed

[2018-10-12 19:16] moranje commented on #42
This should be fixed in `5.5.0`

[2018-10-12 19:16] #42 closed

[2018-10-14 20:35] moranje opened #44 "Update cache after task creation or completion"
Right now it takes an hour (or however long you've set `cache_timeout`) before the cache is updated.

[2018-10-15 19:02] #44 closed

[2018-10-15 19:14] moranje commented on #44
:tada: This issue has been resolved in version 5.6.1 :tada:

The release is available on [GitHub release](https://github.com/moranje/alfred-workflow-todoist/releases/tag/v5.6.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-10-15 19:15] moranje commented on #40
Not sure if this is still a problem but I can't reproduce so let's open a separate issue if this pops up again

[2018-10-15 19:15] #40 closed

[2018-10-23 16:48] lazee opened #45 "todo command not working anymore"
### Describe the bug

I can no longer add a task in todoist directly from alfred. As soon as I type todo + space + typing the todo text, I only get the search engines options. And not "create a task".
Other workflow I have are working as expected.

### Steps to reproduce

Steps to reproduce the behavior:

1. Alfred input 'todo My task'
2. No option to add task

### Expected behavior

I used to jus

[2018-10-23 16:50] lazee commented on #45
Forgot to mention that I have upgraded to Mojave. Might be the issue?

[2018-10-23 17:38] moranje commented on #45
Is there anything in the debug logs?

[2018-10-26 17:34] mamembrado opened #46 "Due date not working in french"
### Describe the bug

When trying to create a new task with a due date, everything is working fine (@, #, p, text, etc...) except the due date. I'm using todoist in french and have configured the workflow in fr too

### Steps to reproduce

Steps to reproduce the behavior:

1. Alfred input 'todo test2 à faire demain 14h00 !!1 @plan  #Personnel ' Translate to '
todo test2 to do tomorrow 14:00 !!1 @

[2018-10-26 22:05] moranje commented on #46
Check out this bit of the [documentation](https://github.com/moranje/alfred-workflow-todoist#create-task)

The reason for this is that date and time parsing isn't something I want to support (it would mean I would have to parse all the different time strings and date string in all languages Todoist supports). But todoist can very well. So I just need to know where the date-time string starts and e

[2018-10-26 22:05] #46 closed

[2018-10-26 22:06] moranje commented on #45
@lazee Any luck on the error log?

[2018-10-27 10:59] toyflish opened #47 "todos query + return deletes task instead of complete it"
A queried task gets deleted but feedback is "task completed"

### Steps to reproduce

Steps to reproduce the behavior:

1. Alfred input 'todos email'
2. Click on 'email task'
3. message pops up "task completed" but if you look in the webinterface you find the task under deleted tasks

### Expected behavior
Task should be under completed task to receive Karma-points

[2018-10-27 12:00] moranje commented on #47
See if the update tickles your fancy. @toyflish

[2018-10-27 13:49] toyflish commented on #47
perfect, you saved my karma ;)

[2018-10-27 13:49] #47 closed

[2018-10-30 07:39] shigg1120 opened #49 "cannot find projects"
I created the project `Fitness` on the OS app. When I create a task with the workflow it does not show the project created.
![image](https://user-images.githubusercontent.com/15307586/47703011-1f030f00-dc62-11e8-9524-18af48615f3e.png)

![image](https://user-images.githubusercontent.com/15307586/47703055-49ed6300-dc62-11e8-9464-66aca507787f.png)

[2018-10-30 08:14] #49 closed

[2018-10-30 12:15] moranje commented on #49
Cache is refreshed every hour by default. It's something that's adjustable in settings.

Martien

[2018-10-30 13:33] lifehackett commented on #45
@lazee I was having this issue as well. I just installed the latest version though and it seems to be working now. Might be worth trying that.

[2018-11-02 17:02] alechp opened #50 "Cannot add labels with hyphens"
### Describe the bug
Labels with hyphens aren't parsed correctly.

### Steps to reproduce
Almost all of my labels have hyphens. Here are a few examples:
<img width="185" alt="screen shot 2018-11-02 at 10 02 58 am" src="https://user-images.githubusercontent.com/3058939/47929511-7e416900-de86-11e8-887a-aa3c8f53588b.png">

**Alfred Input**:
When I try to add one of these labels (eg. "@now-work"), lik

[2018-11-03 18:03] moranje commented on #50
Hi @alechp

Thanks for the full bug report. I didn't know labels were allowed to have hyphens. Right now the label characters I allow are `a-zA-Z0-9_`. Am I missing any others by your knowledge? This should be a fairly straightforward change.

Martien

[2018-11-04 23:51] alechp commented on #50
@moranje Not that I'm aware

[2018-11-09 12:46] milchquarz commented on #45
I'm having a similar problem. I can't type any commands at all.
For example, if I type todo:setting and hit enter only the standard search options appear. Any advice?

![bildschirmaufnahme 2018-11-07 um 15 36 08_1](https://user-images.githubusercontent.com/44846378/48263248-c8e25880-e425-11e8-9936-a16630079935.gif)

[2018-11-09 12:51] lifehackett commented on #45
@milchquarz turn on debug and check the output. I was seeing an error where `node` wasn't in the `PATH` so had to update that.

[2018-11-09 13:14] milchquarz commented on #45
It seems I'm having the same:

Unfortunately I don't know how to handle this kind of information. Could you walk me through the necessary steps?

[2018-11-09 13:38] lifehackett commented on #45
What is the output when you run `node --version` in the terminal?

[2018-11-09 14:06] milchquarz commented on #45
donkeybook:~ axel$ node --version
-bash: node: command not found

[2018-11-09 14:13] lifehackett commented on #45
You probably need to install node https://nodejs.org/en/

[2018-11-09 14:59] milchquarz commented on #45
That did the trick. The workflow now works. Thanks a lot!

[2018-11-11 18:17] alechp commented on #50
Latest build solves the problem. Thank you, @moranje

### Sample
<img width="481" alt="screen shot 2018-11-11 at 10 15 55 am" src="https://user-images.githubusercontent.com/3058939/48316613-e5ec6800-e59a-11e8-8ba1-53c7efc4843d.png">
<img width="579" alt="screen shot 2018-11-11 at 10 15 29 am" src="https://user-images.githubusercontent.com/3058939/48316614-e5ec6800-e59a-11e8-8328-cdee33362630.png">

[2018-11-11 18:17] #50 closed

[2018-11-26 15:37] xTimpi opened #51 "Can't configure workflow"
### Describe the bug

After downloading the workflow, the given configuration steps are not working

### Steps to reproduce

Download the workflow, type todo:setting  token <token>

### Expected behavior

set the token as workflow config

### Error logs
#### Alfred debugger

[2018-11-26 16:32:47][ERROR: input.scriptfilter] Code 1: /Users/Timpi/Library/Application Support/Alfred 3/Alfred.alfredpref

[2018-11-27 05:45] moranje commented on #51
What versions of the workflow and what version of node are you on?

[2018-11-27 08:37] xTimpi commented on #51
node: 10.13.0

workflow: latest release downloaded yesterday from
https://github.com/moranje/alfred-workflow-todoist/raw/master/dist/Alfred%20Workflow%20Todoist.alfredworkflow

[2018-11-27 08:50] xTimpi commented on #51
### found the problem
apparently alfred does not play well with [nvm](https://github.com/creationix/nvm), event though my terminal reported version 10.13.0 only after I installed node via brew, the issue was resolved.

feel free to close this issue

[2018-11-27 19:41] moranje commented on #51
For future reference, what version of node did the workflow die on?

[2018-11-28 15:03] xTimpi commented on #51
it was 9.8.0

[2018-11-28 15:04] moranje commented on #51
Good to know! Thanks for reporting back.

--
Martien Oranje

Op 28 november 2018 bij 16:03:27, Tim P (notifications@github.com) schreef:

it was 9.8.0

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/moranje/alfred-workflow-todoist/issues/51#issuecomment-442477985>,
or mute the thread
<https://github.com/notifications/unsubscribe-

[2018-11-29 19:58] #51 closed

[2018-12-04 04:41] greenkeeper[bot] opened #52 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2018-12-04 04:43] greenkeeper[bot] opened #53 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2018-12-04 04:43] greenkeeper[bot] opened #54 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2018-12-04 04:43] greenkeeper[bot] opened #55 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2018-12-05 19:35] #52 closed

[2018-12-05 19:35] #53 closed

[2018-12-05 19:35] #54 closed

[2018-12-05 19:35] #55 closed

[2018-12-11 17:08] beedaan opened #61 "Node binary not found when using NVM"
### Describe the bug

Cannot configure workflow

### Steps to reproduce

1. Alfred input 'todo:setting'
2. See error

### Expected behavior

I expect to see the list of settings I can configure, like `token`, but instead I get the default Alfred action menu to "Search Google for 'todo:setting'

### Error logs

Paste error log below (STEPS: 1. Open workflows tab in Alfred 2. Select `Alfred Workflow

[2018-12-11 20:21] moranje commented on #61
Just to make sure, have you installed node (as mentioned [here](https://github.com/moranje/alfred-workflow-todoist#getting-started))?

[2018-12-11 20:34] beedaan commented on #61
I have node installed
[code]

[2018-12-12 13:34] moranje commented on #61
There's your problem, you've installed node in a non-standard location. I add the default node to your `PATH=$PATH:/usr/local/bin:/usr/bin`. But that means your node binary isn't found. Open the alfred workflow and add it to the scripts or move the binary to a default location. The latter is preferable since you'de need to update them with each upgrade.

I use zshell myself but the Alfred scripts

[2018-12-12 20:48] moranje commented on #61
Another thing you could do is install `npm install -g nave` and use it's `nave usemain stable` or `nave usemain <version>` to create a global binary in the default location.

[2018-12-12 22:51] beedaan commented on #61
Thank you for the thoughtful feedback.  I really appreciate it.

I would rather not install a system version of node because I use [nvm](https://github.com/creationix/nvm) to manage my node environment.  I also would rather not use nave because it duplicates a lot of the functionality of nvm.

I use other software that depends on node to run tasks such as IntelliJ IDEA.  The way JetBrains handle t

[2018-12-13 17:23] moranje commented on #61
That's not that easy I'm afraid. You'd have implement it all in bash, which is something I have made a point of not doing anymore. However, I think the solution is fairly simple. A `node` symlink in `/usr/bin` to the active binary (`/Users/<username>/.dotfiles/node/nvm/versions/node/v10.8.0/bin/node`) should fix the problem, right?

[2018-12-13 17:58] beedaan commented on #61
That would fix the problem with this specific issue, but it would cause
other issues with my environment.  I would be locking myself to a specific
version of node.  I have multiple projects on my machine that use different
versions of node, which is one of the reasons I use nvm.

On Thu, Dec 13, 2018 at 9:23 AM Martien Oranje <notifications@github.com>
wrote:

[2019-01-01 23:41] imusmanr opened #72 "Any way to disable fuzzy search?"
Hi there,

First of all, thank you so much for building this awesome utility. It's great for adding new tasks easily directly from Alfred.

However, in it's current form, I find that "fuzzy" search makes the search quite unusable, since it returns pages and pages of endless tasks that have nothing to do with my search term.

I am not sure if this feature already exists and maybe I'm just not using

[2019-01-02 05:18] moranje commented on #72
So you are saying that if you type in the exact task query you are not getting the task you are looking for?

[2019-01-02 05:51] imusmanr commented on #72
Maybe you can see what I mean in this picture:

I searched for just a simple "condo" phrase using the workflow, I see TONS and TONS of results (look at size of scroll wheel):
<img width="571" alt="screen shot 2019-01-01 at 9 49 15 pm" src="https://user-images.githubusercontent.com/9157460/50581505-28018f80-0e0f-11e9-91ae-8071f6b486da.png">

If I search for that in Todoist, I get only 2 results, wh

[2019-01-02 11:23] moranje commented on #72
I see, that's no exact match though. The algorithm you are describing is (for the lack of better terminology) a word bounded partial string matching algorithm. I did a quick search for a library that does matching that way but I haven't found anything that does what you want it to do.

I would be willing to switch algorithm to have more sensible defaults if there is a better library available.

[2019-01-02 16:22] jottr commented on #42
Issue remains. Creating the relevant folders as suggested [here](https://github.com/moranje/alfred-workflow-todoist/issues/42#issuecomment-428545394) didn't fix it.

[2019-01-02 19:49] moranje commented on #42
I need a little more than this. Any debug logs or error information?

Also michbsd created the files as well in the comment you linked to, let me know if that fixes your problem.

[2019-02-06 17:13] brycehamrick opened #79 "Task isn't created"
My token is set up correctly, I can successfully query tasks in Todoist but I can't create new tasks. I get the success message, but no task appears in my Todoist inbox.

Here's my debug output.

[2019-02-06 09:13:02][input.scriptfilter] Queuing argument 't'
[2019-02-06 09:13:02][input.scriptfilter] Queuing argument 'te'
[2019-02-06 09:13:02][input.scriptfilter] Queuing argument 'tes'
[2019-02-06

[2019-02-06 17:23] brycehamrick commented on #79
Seems like it was just delayed, took about 10 minutes for it to show up for some reason.

[2019-02-06 17:23] #79 closed

[2019-02-10 15:12] moranje commented on #79
That's probably the cache biting you in the bottom. You can set the time to cache refresh in the options.

[2019-02-10 15:19] moranje commented on #72
### Note to self

Maybe this could work:

https://github.com/nextapps-de/flexsearch

[2019-03-02 02:16] greenkeeper[bot] opened #98 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `11.10.0` to `11.10.1`.

🚨 [View failing branch](https://github.com/moranje/alfred-workflow-todoist/compare/master...moranje:greenkeeper%2F%40types%2Fnode-11.10.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/

[2019-03-16 07:43] moranje opened #105 "Add support for script other than Latin"
As of now only latin scripts are supported.

[2019-03-16 19:25] #105 closed

[2019-03-16 19:30] moranje commented on #105
:tada: This issue has been resolved in version 5.7.0 :tada:

The release is available on [GitHub release](https://github.com/moranje/alfred-workflow-todoist/releases/tag/v5.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-18 19:51] #98 closed

[2019-03-26 20:24] moranje opened #106 "Useful error message when API key is missing"
### Current description

HTTPError: Response code 400 (Bad Request)

### Expected behavior

Should block api requests with an error saying the key is invalid or missing

[2019-03-26 20:28] moranje opened #107 "Useful error message when node.js is missing"
### Description

Right now the application breaks with a cryptic error.

### Expected behavior

Should explain why the application isn't working, the minimum node version to install and provide a link to the docs

[2019-03-26 21:36] #106 closed

[2019-03-26 21:36] #107 closed

[2019-03-26 22:06] moranje commented on #106
:tada: This issue has been resolved in version 5.7.1 :tada:

The release is available on [GitHub release](https://github.com/moranje/alfred-workflow-todoist/releases/tag/v5.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-26 22:06] moranje commented on #107
:tada: This issue has been resolved in version 5.7.1 :tada:

The release is available on [GitHub release](https://github.com/moranje/alfred-workflow-todoist/releases/tag/v5.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-28 17:19] moranje commented on #61
Closing as there is no real solution here.

[2019-03-28 19:39] #61 closed

[2019-03-28 19:46] moranje opened #108 "In-workflow updates"
### New version

Implement version checks and prompt when an update is available.

[2019-03-30 22:37] #108 closed

[2019-03-30 22:41] moranje commented on #108
:tada: This issue has been resolved in version 5.8.0 :tada:

The release is available on [GitHub release](https://github.com/moranje/alfred-workflow-todoist/releases/tag/v5.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-01 14:16] robinandersson opened #109 "Fresh workflow installation doesn't work"
### Description

After downloading and installing the workflow none of it's related commands are able to receive/process arguments (reverts to Alfred default fallbacks instead).

Similar to #51.

### Steps to reproduce

1. Download workflow.
2. Bring up Alfred input field
3. Partially type keyword ("todos", "todo" or "todo:setting") – Alfred shows the workflow's keyword(s) with hints
4. Complete k

[2019-04-01 19:51] moranje commented on #109
I'm not entirely sure why you (;-)) broke the workflow. I can't reproduce the error you are getting. I have a feeling that:

[code]

Doesn't point to the workflow root for some reason. Let's test that assumption. I have build you a custom version. Would you mind running that to see if that yields any clues? For Alfred to recognize the worflow, the extension must be changes from `.zip` to `.alfredw

[2019-04-02 09:23] robinandersson commented on #109
Hehe yeah that's what I do, I break things 😉.

Alright, I have no experience developing Alfred workflows myself, so you'll have to be the coordinator ^^ I did try out some different node versions though, but with same results.

I'll just post most of the logs here for you to delve into 😄

[code]

[2019-04-03 20:53] imagesafari commented on #109
It isn't working for me either, fwiw.

[2019-04-03 20:54] moranje commented on #109
I'll see what I can do to run this on a fresh machine tomorrow. Thanks for reporting.

[2019-04-05 17:32] taylorjdawson commented on #109
I was experience the exact same issue and can confirm that the debug works for me. Thanks! 👍

[2019-04-05 17:37] moranje commented on #109
@taylorjdawson thanks that helps. @robinandersson maybe you could have a look so i can release a patch?

[2019-04-05 17:40] taylorjdawson commented on #109
Curious as to what the fix was?

I was looking [here](https://github.com/moranje/alfred-workflow-todoist/blob/236a369867c1d4ff4e5825c759e3fd1ce6032c4b/src/project/files.ts#L9-L15) and it seems like it would be beneficial to describe the error in this code block?
[code]
Then you could know which `require` statement breaks.

[2019-04-05 17:48] robinandersson commented on #109
Hey, sorry for late reply @moranje, just tried that new build and it works! 🙂

Great work 🌈👍

[2019-04-05 17:58] imagesafari commented on #109
Debug build works for me.

[2019-04-05 18:12] moranje commented on #109
Thanks for the feedback guys! The problem was that error block, two of the three statements are expected to fail sometimes but the last one should never. So if you don't have a settings or cache file yet it fails and that's ok. But because they're all in the same error block that means when that happens the third file is never loaded. I have separated each statement in a separate error block now.

[2019-04-05 19:42] taylorjdawson commented on #109
Thanks @moranje for your work!!

[2019-04-05 19:50] #109 closed

[2019-04-05 19:55] moranje commented on #109
:tada: This issue has been resolved in version 5.8.1 :tada:

The release is available on [GitHub release](https://github.com/moranje/alfred-workflow-todoist/releases/tag/v5.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-08 16:39] andykenward commented on #109
On a fresh install of 5.8.1 when trying to set the API Token using `todo:setting` I get the fallback search. So unable to set a API Token. Even when adding `todo:setting token`

[2019-04-08 16:45] andykenward commented on #109
Might have to do with that I have node `v10.15.3` as my default version via NVM. Looking into it.

[2019-04-08 17:23] moranje commented on #109
Keep me in the loop. Also a new issue would probably be the best way to
track the issue.

Martien

Op ma 8 apr. 2019 18:45 schreef Andy Kenward <notifications@github.com>:

[2019-04-08 18:30] andykenward commented on #109
@moranje No need for a new issue. Was the usage of nvm for node management. Relates to https://github.com/moranje/alfred-workflow-todoist/issues/61 . Solved it by editing the scripts in the workflow to point to nvm for node instead of `PATH=$PATH:/usr/local/bin:/usr/bin`.

[2019-04-10 16:17] robinandersson commented on #109
You know, it wouldn't be a bad idea to put suggestions on how to what @andykenward did in the readme. Or if we (well you @moranje xD) are being super serious, perhaps even catch the node-error and display an appropriate error message since it's surely a common error (many probably doesn't read the readme).

Before I realized there was/is a debug-mode for Alfred I was convinced it was my nvm-node s

[2019-04-10 16:34] andykenward commented on #109
@robinandersson my workaround will get replaced on an update to the workflow. So not sure it's the best option.

I agree with showing the node error to the user. Without the debug option in Alfred showing the issue to me I would have given up.

Currently I don't use this workflow and instead run the Todoist mac app. Then I've made my own workflow for the Alfred keyword `todo` to the key combo `^⌘A

[2019-04-10 17:11] moranje commented on #109
Would any of you be willing to submit a pull request to the docs explaining
what you did?

Op wo 10 apr. 2019 18:34 schreef Andy Kenward <notifications@github.com>:

[2019-04-11 18:05] robinandersson commented on #109
Yeah that's true what you said about needing to update the workflow manually for each release @andykenward. I believe creating a symlink in /usr/local/bin that points to an nvm version of node should work, as long as you don't remove that node version of course (switching active node version in nvm should be fine).

@moranje, I can submit a pull request. I could propose both solutions – from me an

[2019-04-11 20:06] moranje commented on #109
I'd be open to something in the workflow as well but I don't use nvm
myself. If you can come up with a a solution for the workflow, even better.

Martien

Op do 11 apr. 2019 20:05 schreef Robin Andersson <notifications@github.com>:

[2019-04-12 16:59] robinandersson commented on #109
@moranje, unfortunately I don't have time at the moment to get into bash scripts. But I'll do the pull request for the readme, no problem ☀️👍

[2019-04-22 02:53] Cospotato opened #111 "Json Parse Error when using Chinese in project name"
### Description

Json parse error

### Steps to reproduce

Steps to reproduce the behavior:

1. Create a project in todoist with name '博客'
2. Alfred input 'todo xxx #博客'
3. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Error logs

STEPS:

1. Open workflows tab in Alfred
2. Select `Alfred Workflow Todoist`
3. Select `Toggle debugging mode` in

[2019-04-22 06:16] moranje commented on #111
Hmm I thought I had adjusted the parser to include all scripts. I will have
a look.

Op ma 22 apr. 2019 04:53 schreef CosPotato Lin <notifications@github.com>:

[2019-04-22 14:00] Cospotato commented on #111
@moranje Thanks for your brilliant work!

[2019-04-22 14:06] moranje commented on #111
I've created a fix but in order for the parser to accept the more elegant solution I've had to fix a bug  in one of the libraries I depend upon. I'll upload a fix as soon as that get's merged (https://github.com/no-context/moo/pull/124#issue-272380919).

Here's a preview:

<img width="631" alt="Schermafbeelding 2019-04-22 om 16 01 31" src="https://user-images.githubusercontent.com/666528/56504367-

[2019-04-22 14:24] moranje commented on #111
I've changed my mind, here's a fix now

[2019-04-22 14:27] #111 closed

[2019-04-22 14:32] moranje commented on #111
:tada: This issue has been resolved in version 5.8.2 :tada:

The release is available on [GitHub release](https://github.com/moranje/alfred-workflow-todoist/releases/tag/v5.8.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-22 14:13] primeminister opened #112 "Creating tasks in projects with an emoticon at the beginning gives errors"
### Description

I have projects with emoticons in it. f.e.: "🦌 Personal". When creating a task it appends the square brackets but still gives errors when trying to create it.

### Steps to reproduce
1. Make test project with emoticon in it (through your mobile phone is easiest). Add the emoticon at the beginning of the project name.
2. Run workflow 'Create task' and add your project in Alfredt: '

[2019-07-28 07:17] moranje commented on #112
That's right, the workflow has a parser that doesn't include the unicode characters for emoticons. But if Todoist supports emoticons, the  workflow  should too. Do you happen to know if emoticons are supported within labels as well?

[2019-07-29 05:59] primeminister commented on #112
Hi Martien, Yes it does. Is it changing the parser? Let me know if I can do something. I'm comfortable with Javascript but it has been a while...
<img width="127" alt="Screenshot 2019-07-29 at 07 57 26" src="https://user-images.githubusercontent.com/35230/62024867-acb26180-b1d6-11e9-9455-7aadbe979f16.png">

[2019-07-29 17:37] moranje commented on #112
@primeminister Sure, it's the lexer. It's a matter of adding the Unicode ranges for emoticons to the lexer [here](https://github.com/moranje/alfred-workflow-todoist/blob/master/src/todoist/lexer.ts) if you'd like to take a stab at it.

[2019-07-30 08:13] primeminister commented on #112
@moranje Man... that has been a while. I have no idea what you are doing there. I added a few unicodes to ALL_SCRIPT to test but it doesn't get picked up. Don't know if adding it to the end of beginning makes any difference. Maybe some hints? Dank! en nog bedankt voor de toffe workflow

[2019-07-30 08:53] primeminister opened #113 "API v8 beta is being deprecated in August 30. Tests not working for rest/v1"
Hi,
I tried to update the uri in [here](https://github.com/moranje/alfred-workflow-todoist/blob/master/src/todoist/rest-api-v8.ts) to _https://api.todoist.com/rest/v1_ but all the tests fail when I run ```npm run test```. Don't know how to fix that :(

[2019-07-30 19:25] moranje commented on #113
Something needs fixing. Thanks for pointing out the deprecation notice.

[2019-07-30 19:38] moranje commented on #112
I guess something along the lines of could work. SEPARATORS is the RegExp the lexer uses to match special strings. I don't want to be to permissive mainly because certain characters have special meaning in the context  of Todoist and the parser needs characters (whitespace, comma) to do it's matching. SEPERATORS is a bit of a misnomer at this point.

[code]

[2019-07-31 14:01] primeminister commented on #112
@moranje I added the emoticons (not unicode) and updated 1 test (zie fix above).
I tried to do it through unicode chars, but that does not work with jstest (and more I think). Also having a space between the emoticon and name is not picked up by the regexp. f.i." 🚙 Car" instead of "🚙Car". Let me know what you think so I can improve and send you a PR

[2019-07-31 19:25] moranje commented on #112
@primeminister Thanks for working on this, it's appreciated. You are right, the test suite is broken. I guess updated one of the deps a little carelessly. I'll try to fix that shortly.

I have a special notation for adding project names with spaces. Try `#[🚙 Car]`. I might be able to schedule some time for this tomorrow, hopefully fixing the  tests.

[2019-08-01 08:13] primeminister commented on #112
@moranje Yeah tried `#[🚙 Car]` already but fails:
`Unit: Lexer › should tokenize project with emoticon

    invalid syntax at line 1 col 3:

      #[🚙 Car]
        ^

      18 |   it('should tokenize project with emoticon', () => {
      19 |     lexer.reset('#[🚙 Car]')

         |                               ^
      21 |
      22 |     expect(tokens.map(token => token.type)).toEqual(['pound', '

[2019-08-01 19:33] moranje commented on #112
Ah I misunderstood. Replace the following line:

[code]

with

[code]

and you should be okay.

[2019-08-03 21:31] moranje commented on #112
Did you you say you had a full unicode list of the emoji/emoticons?

[2019-08-04 11:12] #112 closed

[2019-08-04 11:12] #113 closed

[2019-08-04 11:40] moranje commented on #112
:tada: This issue has been resolved in version 5.8.3 :tada:

The release is available on [GitHub release](https://github.com/moranje/alfred-workflow-todoist/releases/tag/untagged-266c637be12a4b7bee36)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-04 11:40] moranje commented on #113
:tada: This issue has been resolved in version 5.8.3 :tada:

The release is available on [GitHub release](https://github.com/moranje/alfred-workflow-todoist/releases/tag/untagged-266c637be12a4b7bee36)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-05 07:52] primeminister commented on #113
Nice!!

[2019-08-05 07:56] primeminister commented on #112
Works like a charm @moranje ! Nice work

[2019-08-08 01:32] breyerjs opened #114 "Crash on Launching With Fresh Installation"
### Description

A clear and concise description of what the bug is.

### Steps to reproduce

Steps to reproduce the behavior:

1. Alfred input: `todo` or any other command
2. Click on: no click, just press space beyond `todo` and enter text
3. See error

### Expected behavior
I installed a fresh version of the workflow. I expected it to work as described in the `Usage`. Instead, when I enter `tod

[2019-08-08 05:17] moranje commented on #114
That's a bug, I'll have a look. Thanks for reporting.

Op do 8 aug. 2019 03:32 schreef Jackson Breyer <notifications@github.com>:

[2019-08-08 13:23] moranje commented on #114
Are you able to update to the latest node.js just to see if that fixes it. I think one of the dependencies may rely on an newly introduces `web workers`.

[2019-08-08 16:17] breyerjs commented on #114
I upgraded node to `12.8.0` and that fixed the issue. Thanks for the quick response!

[2019-08-08 16:17] #114 closed

[2019-08-20 08:11] nickwild-999 opened #115 "Errors since updated Alfred"
### Description
No longer works. Think this may be concurrent with upgrading Alfred

### Steps to reproduce
type todo and then any task

### Error logs

[code]

[2019-08-20 19:00] moranje commented on #115
I should update the minimum node version, which is 10.5 since I've updated one of the dependencies (not sure which one though). If you upgrade your nose before this should be fixed for now. Let me know if that helps.

[2019-08-20 19:43] nickwild-999 commented on #115
I am on Node 10.10 already. Might it be something else?

[2019-08-20 20:49] moranje commented on #115
I don't think so, it's the same error as #114 had. Upgrading to the latest node.js (12.x) fixed the bug. Worker threads were added in node 10.5 but perhaps only behind an experimental flag. A quick fix would be upgrading to the latest node version. I would be willing to check what the earliest version of node is that has support for worker threads.

[2019-08-20 20:56] moranje commented on #115
In case you care that the earliest version of node to allow you to run worker_threads without the experimental flag would be `11.7.0`

[2019-08-21 05:07] nickwild-999 commented on #115
Thanks @moranje I was keeping to Node 10, but bitten the bullet and upgraded to node latest and all is good. Thanks for a great enhancement to Alfred!

[2019-08-21 05:07] #115 closed

[2019-09-06 09:47] smithers420 opened #116 "workflow stopped working :-("
### Description

Probably since an API update on the todoist it seems that this workflow does not work anymore.

### Steps to reproduce

just try to use the workflow

### Expected behavior

it should work as expected with the normal features

[2019-09-06 17:48] moranje commented on #116
Thanks for creating an issue, have you seen #114 and #115?

[2019-09-07 09:30] mauricerenck opened #117 "Other projects listed"
After not using the workflow for quite some time, I just wanted to add a new Task to a project using the old workflow. But the projects listed aren't mine! In the app there are to correct projects. I don't know if this is an issue with the workflow (having a wrong user set anywhere?) or if this is a major issue with Todist itself.

Running Alfred 4.03, Workflow 4.0.2

![todoist-alfred](https://use

[2019-09-07 10:54] moranje commented on #117
I do recognize these projects ;-). My best guess would be that you received my cache somewhere, these listed projects may come from there. I would recommend upgrading the workflow though, the version of the REST API in the workflow you are using is being deprecated by Todoist. The latest version fixes that, be aware that you need to upgrade your node version as well (at least 11.5).

Let me know i

[2019-09-07 11:53] mauricerenck commented on #117
Well, I added you some todos ;)
Thanks for letting me know. I just updated the workflow and your projects are gone.

Have a nice weekend.
Maurice

[2019-09-07 11:53] #117 closed

[2019-09-08 22:19] mattyfew commented on #116
I am getting the same issue regarding the Todoist API Token.

[2019-09-09 04:52] moranje commented on #116
@mattyfew That's not a lot for me to go on 😊. Can you describe what is happening? Did you try upgrading your node.js version to at least 11.5? If that doesn't help can you post an error log? Thanks

[2019-09-11 17:26] milchquarz commented on #116
I have the same problem. This is how my error log looks like:

[19:25:33.938] Logging Started...
[19:25:43.412] Alfred Workflow Todoist[Script Filter] Queuing argument ''
[19:25:43.647] Alfred Workflow Todoist[Script Filter] Script with argv '(null)' finished
[19:25:43.652] ERROR: Alfred Workflow Todoist[Script Filter] Code 1: internal/modules/cjs/loader.js:583
    throw err;
    ^

Error: Cannot

[2019-09-11 20:03] moranje commented on #116
That means your node version is below 11.5 (at which version the module worker_treads was officially released). Try updating `node.js` to the latest version.

[2019-09-11 20:03] #116 closed

[2019-09-13 08:29] Code-Remote opened #118 "Error: Cannot find module 'worker_threads'"
### Description

Can't get the todo:setting token set because of error

### Steps to reproduce

Steps to reproduce the behavior:

1. Install workflow
2. type "todo:setting"
3. See no behavior except in the Alfred debug logs

### Expected behavior

I would expect after typing "todo:setting" I would get an option between 'language', 'token'

### Error logs

Starting the debug button inside Alfred fo

[2019-09-21 10:13] mutdmour commented on #118
I fixed this by updating the node version to 12.10.0

[2019-09-22 16:40] macinjoke commented on #118
I have encountered the same issue.

In node version 10, we need to execute node with `--experimental-worker` option to use `worker_threads`.

so if you use node 10, you need edit Alfred workflow manually.

like `node --experimental-worker alfred-workflow-todoist.js create "{query}"` .

@moranje
I think this should be documented somewhere.

[2019-09-22 19:31] moranje commented on #118
@macinjoke I agree, haven't had any time to spend on this the last couple weeks. If you or anyone else is willing to submit a PR I'll commit it to master. Thanks

[2019-09-22 19:31] #118 closed

[2019-09-23 02:45] macinjoke commented on #118
ok. I'll send a pull request. thank you.

[2019-09-23 12:26] Code-Remote commented on #118
Awesome, thanks guys! Back to being productive again!

[2019-10-11 14:49] mvaneijgen opened #121 "Latest version looks like it don't accept arguments (still on Alfred 3)"
# v5.8.3
[![https://www.youtube.com/watch?v=EtYYfiWiiKg](https://img.youtube.com/vi/EtYYfiWiiKg/0.jpg)](https://www.youtube.com/watch?v=https://www.youtube.com/watch?v=EtYYfiWiiKg)

# v5.8.2
[![https://www.youtube.com/watch?v=nO6qfPixvuc](https://img.youtube.com/vi/nO6qfPixvuc/0.jpg)](https://www.youtube.com/watch?v=https://www.youtube.com/watch?v=nO6qfPixvuc)

### Description

I've not yet update

[2019-10-16 15:43] bumpux commented on #121
Not working, per other threads. Followed all config instructions for NVM etc. Assume this is owing to incompatibility with Alfred 4.
<img width="320" alt="Banners and Alerts 2019-10-16 08-42-57" src="https://user-images.githubusercontent.com/947598/66935535-0154c400-eff1-11e9-9c8d-3ab0cfb2c0b2.png">

[2019-10-21 20:07] Chris-Nicol opened #122 "Issue potentially with either latest version of Todoist or Catalina"
### Description

After updates to both macOS (Catalina) and the latest beta build of todoist I'm no longer able to create tasks from Alfred

### Steps to reproduce

Steps to reproduce the behavior:

1. Alfred input 'create task testing'
2. See error - no error, just success message
3. Debug report:
![image](https://user-images.githubusercontent.com/792184/67239124-ce765a00-f44e-11e9-884d-db843528c

[2019-10-23 00:03] alechp opened #123 "Cannot add a new task"
### Description
Cannot add a new task.

Confirmed that API token is correct.

### Steps to reproduce

Steps to reproduce the behavior:

1. Alfred input 'todo hello'
2. Press "ENTER"
3. See error

### Expected behavior

"hello" is added to Todoist inbox

### Error logs

[code]

[2019-10-23 06:35] moranje commented on #122
Update to the latest version of the workflow, todoist deprecated the beta version of the api. Latest release has you covered.

[2019-10-23 06:37] moranje commented on #123
Update to the latest version of the workflow. Todoist deprecated the beta version of the api. The latest version has you covered.

[2019-10-27 15:26] moranje commented on #121
This means you don't have the latest version of the workflow. Todoist deprecated their beta API, but the latest version of the workflow has you covered.

[2019-10-27 16:06] mvaneijgen commented on #121
@moranje sorry maybe it was not clear. I can't create todo's on the latest version (v5.8.3) the workflow is for some reason not accepting arguments, so I have to revert back to version v5.8.2 and change the API URL

# v5.8.3
[![https://www.youtube.com/watch?v=EtYYfiWiiKg](https://img.youtube.com/vi/https://www.youtube.com/watch?v=EtYYfiWiiKg/0.jpg)](https://www.youtube.com/watch?v=https://www.yout

[2019-10-27 20:03] moranje commented on #121
Ah sorry, I misunderstood. I see you are on node 10.x, which isn't supported by the latest workflow. I can't be sure without logs though, but it's a problem that's been reported before.

[2019-10-28 08:08] mvaneijgen commented on #121
if node `10.x` isn't supported what version is?

Here is the log of version 5.8.3 https://gist.github.com/mvaneijgen/f297c9465bcbe5f90f947bfed5f87f08

[2019-10-28 21:32] moranje commented on #121
12.x for the support of web workers.

[2019-11-19 17:14] stacksjb commented on #122
Thanks, I had the same issue, resolved it!

[2019-11-19 17:15] stacksjb commented on #122
This can be closed :)

[2019-11-19 17:48] stacksjb opened #124 "Creating multiple tasks fails with error response code 400 Bad Request"
### Description

I recently found that despite me creating multiple todos, they weren't being created. After deeper troubleshooting, I've found a very weird issue. It appears that I can only create a single task at a time - creating a second one fails with an error code 400. However, if I mark a task as complete, then creation of a second task succeeds.

### Steps to reproduce

Steps to reproduce

[2019-11-19 19:58] stacksjb commented on #124
Is there a debug module I can enable beyond the Alfred debug? I suspect there is something on the node side going on.

[2019-11-20 23:55] stacksjb commented on #124
I have identified the root cause of the issue: Todoist has a hardcoded limit of 300 tasks in a project. I hit the limit, so all new task creation was failing. Marking a task complete takes it down to 299, then the next complete, but thereafter fails.

Could you return a more useful error message instead of just failing with an error code 400?
In addition I still an unsure why notifications are not

[2019-11-21 11:12] moranje commented on #124
Hmmm I'd have to see. I return what I get from todoist API. It's a little bit of an edge case where I would need to create a somewhere around 280 dummy tasks to test this. Any chance you could try what the API returns in your case? It is fairly easy with the rest API and something like postman. Would you be up for that?

[2019-11-23 22:32] stacksjb commented on #124
I tested creation using the documented API with CURL and receive the response "Maximum number of items per user project limit reached" as a response.

 `curl "https://api.todoist.com/rest/v1/tasks" \
    -X POST \
    --data '{"content": "Appointment with Maria", "due_string": "tomorrow at 12:00", "due_lang": "en", "priority": 4}' \
    -H "Content-Type: application/json" \
    -H "X-Request-Id: $

[2019-11-23 22:44] stacksjb opened #125 "Notifications not showing in Alfred v4"
After creating a task using this, I expect to receive some sort of notification that task creation was successful or failed.

Upon creation of a task, I do not get any notification. I am on Mac OS X 10.15 (Catalina), Alfred 4.0.7[1128], and v5.8.3 of todoist workflow.

I have tested the following:
1) Downloading older versions of Todoist workflow plugin. Versions prior to 5.8.x (5.7.1 and older) s

[2019-11-23 22:58] stacksjb commented on #125
Did anything change between version 5.7 and 5.8 in terms of notifications?

I suspect this is something to do with Catalina and either notification permissions or security restrictions to launching untrusted applications (since an older version works successfully, it would have been whitelisted if it was present prior to upgrade). That said, I have tried launching the notifier app manually (where

[2019-11-24 06:55] moranje commented on #124
Thanks that helps. I'll see what I can do.

[2019-11-24 20:16] moranje commented on #125
Looking back at the changes I think a hard-coded reference to Alfred V3 may be what's going awry.

https://github.com/moranje/alfred-workflow-todoist/blob/master/src/workflow/notification.ts#L66

Let's see if there is a way to get this information dynamically.

[2019-11-28 16:37] moranje commented on #125
@stacksjb I may have a fix, not sure because I'm not on Alfred 4 myself yet. Can you give it a go? Here's a beta of the worflow, replace `.zip` with `.alfredworkflow`.

[Alfred Workflow Todoist.zip](https://github.com/moranje/alfred-workflow-todoist/files/3902539/Alfred.Workflow.Todoist.zip)

[2019-11-29 00:29] stacksjb commented on #125
That one works!

It would be nice if it showed the actual task created or completed (by title) if that was possible, but this matches the previous functionality.

Thx!

[2019-11-29 08:17] moranje commented on #125
Great! Thanks for testing. Hehe, you keep me busy. I'll have a go at the other issues first.

[2019-11-29 08:24] moranje opened #126 "Feat: show task title in notification"
A notification should show the newly created task title.

[2019-11-29 13:17] #121 closed

[2019-12-02 08:50] #122 closed

[2019-12-15 12:12] #125 closed

[2019-12-15 20:54] moranje commented on #125
:tada: This issue has been resolved in version 5.8.4 :tada:

The release is available on [GitHub release](https://github.com/moranje/alfred-workflow-todoist/releases/tag/v5.8.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-20 12:01] Henry31 opened #127 "ToDoist API give back error from cloudfront (401) Gone"
### Description

I just installed the alfred workflow for todoist for the first time. After adding the token to the settings I want to add a task to my inbox, but this is not working.

### Steps to reproduce

Steps to reproduce the behavior:

1. Alfred input 'todo testtask'
2. Click on 'return'
3. See error

### Expected behavior

normally it should add a new task to my inbox

### Error logs

[cod

[2019-12-20 12:03] moranje commented on #127
Use the latest version. Todoist deprecated their V8 API which the version you are using utilizes. Update and you should be fine.

[2019-12-25 09:33] #127 closed

[2020-01-02 21:00] Code-Remote opened #128 "Notifcation: Couldn't update workflow, Cannot read property 'length' of null"
### Description

1. I got a notification that there was a new update for this workflow available
2. Downloaded the update via Alfred
3. When I use the keyword to create a new task and enter the first letter I get a notifcation from Alfred saying

"ALFRED WORKFLOW TODOIST
Couldn't update workflow
Cannot read property 'length' of null"

4. When I continue typing and press enter, the task is still cr

[2020-01-03 15:43] moranje commented on #128
Thanks for letting me know. I am currently working on a big update which fixes a lot of the outstanding issues. The problem you are running into is just with the updater. You can still update by downloading the workforce from github.

Martien

[2020-01-06 18:00] stacksjb commented on #128
I am having this problem as well - it appears something is wrong with Github, as downloading the link for the latest version (https://github.com/moranje/alfred-workflow-todoist/releases/latest/download/Alfred.Workflow.Todoist.alfredworkflow) and/or the link at https://github.com/moranje/alfred-workflow-todoist/releases/tag/v5.8.4 is currently giving me a version 5.8.3 file when it is actually down

[2020-01-06 22:45] moranje commented on #128
Hmm that's not good, I need to sleep right now. I'll have a look tomorrow. Thanks for the feedback

Martien

[2020-01-09 08:16] smagdali commented on #128
This just happened to me as well. I got a notification that 5.8.4 was available, went to download it, tried to install it, and now am getting the exact same error as OP. As per stacksjb, Installed workflow claims to be 5.8.3 not 5.8.4

[2020-01-09 08:19] smagdali commented on #128
Can confirm that the version in #125 works fine.

[2020-01-18 16:33] jakubka commented on #128
Getting the same thing after installing the workflow for the first time.

Just guessing, but shouldn't we have `"version": "5.8.4"` here https://github.com/moranje/alfred-workflow-todoist/blob/master/dist/workflow/workflow.json#L2 ?

The 5.8.4 release has already been done, so a new corrected 5.8.5 will need to be made?

I can submit a PR if you confirm that this is indeed an issue @moranje

[2020-01-20 19:05] moranje commented on #128
No the workflow.json is whats used to check for updates against. The process of updating the version in the workflow (.plist) and in the package json is automated.

I would like to release a major version update soon. I'm currently little preoccupied with my newborn son. I'll post something as soon as I'm able.

Martien

[2020-02-05 21:17] moranje opened #134 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `alpha` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you ca

[2020-02-05 21:22] moranje commented on #134
## :rotating_light: The automated release from the `alpha` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you ca

[2020-02-07 16:10] #134 closed

[2020-02-08 11:18] moranje opened #140 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `alpha` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you ca

[2020-02-08 11:27] #140 closed

[2020-02-08 13:15] moranje commented on #128
Should be fixed in the v6.0.0-alpha.3. It should be stable enough to use as your daily driver, I now have tests for 80% of the code base.

If you want to keep receiving updates set `todo:settings pre_releases true`. I still need to update the docs so not all the changes are documented yet.

Martien

[2020-02-08 13:16] moranje commented on #124
Should be fixed in the v6.0.0-alpha.3. It should be stable enough to use as your daily driver, I now have tests for 80% of the code base.

If you want to keep receiving updates set `todo:settings pre_releases true`. I still need to update the docs so not all the changes are documented yet.

Martien

[2020-02-08 13:16] moranje commented on #20
Should be fixed in the v6.0.0-alpha.3. It should be stable enough to use as your daily driver, I now have tests for 80% of the code base.

If you want to keep receiving updates set `todo:settings pre_releases true`. I still need to update the docs so not all the changes are documented yet.

Martien

[2020-02-09 01:40] augustgerro commented on #128
Same error. Downloaded by link in Readme

`todo:settings pre_releases true`
NO SUCH SETTING

[2020-02-09 03:17] stacksjb commented on #128
For me the setting is "todo:settingpre_releases"

[2020-02-09 06:41] moranje commented on #128
@augustgerro the link for the alpha is [here](https://github.com/moranje/alfred-workflow-todoist/blob/alpha/dist/Alfred%20Workflow%20Todoist.alfredworkflow).

And @stacksjb is right the setting is a `todo:setting pre_releases true` (minus the additional `s`0

[2020-02-11 22:10] moranje commented on #128
Heads-up: `6.0.0-alpha.4` is out which fixes two nasty bugs, the updater not picking new prereleases and a very unhelpful blocking error message when the API token hasn't been set yet.

Cheers

[2020-02-12 00:48] stacksjb commented on #128
You mean additional space?

<img width="562" alt="Screen Shot 2020-02-11 at 7 43 23 PM" src="https://user-images.githubusercontent.com/2865491/74292947-5e465980-4d07-11ea-8940-de10bb035ccf.png">

[2020-02-12 00:53] stacksjb commented on #128
One other thing I've noticed with this release - it appears you've added some sort of unique identifier to the labels and tags, and the first entry says "refresh cache" - is this permanent/intended to stay or just there as part of the pre/debug releases? Slows down my workflow a bit because I typically hit tab and keep typing, but now I have to arrow down and hit enter on the entry specifically.

[2020-02-12 15:34] moranje commented on #128
@stacksjb Thanks for reporting back. I agree that the refresh cache shouldn't be the first item. I rely on Alfreds sorting items to most used but doesn't make a whole lot of sense. I fix that in the next alpha. I'll open a new issue when I get around to it.

The id's you see are Todoists ids for that resource. I need it to for the API calls. It's a little ugly but the code I relied on made the wor

[2020-02-12 16:26] moranje opened #151 "Alfred item filtering yields unexpected item order"
One other thing I've noticed with this release - it appears the first entry says "refresh cache" - is this permanent/intended to stay or just there as part of the pre/debug releases? Slows down my workflow a bit because I typically hit tab and keep typing, but now I have to arrow down and hit enter on the entry specifically.

<img width="561" alt="Screen Shot 2020-02-11 at 7 49 49 PM" src="https:/

[2020-02-12 19:43] moranje commented on #151
:tada: This issue has been resolved in version 6.0.0-alpha.5 :tada:

The release is available on:
- [GitHub release](https://github.com/moranje/alfred-workflow-todoist/releases/tag/v6.0.0-alpha.5)
- `v6.0.0-alpha.5`
- `v6.0.0-alpha.5`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-12 20:00] #151 closed

[2020-02-13 15:12] moranje opened #152 "Settings don't like extra spaces"
### Description

The workflow fails when two consecutive spaces are added after the `todo:setting` keyword

### Steps to reproduce behavior

Query: `todo setting  ` <-- two spaces

### Expected behavior

The workflow shouldn't crash.

### Error logs

ALFRED WORKFLOW TODOIST
----------------------------------------
title: TypeError
description: Use `delete()` to clear values

os: macOS 10.15.3
quer

[2020-02-13 22:07] moranje commented on #152
:tada: This issue has been resolved in version 6.0.0-alpha.6 :tada:

The release is available on:
- [GitHub release](https://github.com/moranje/alfred-workflow-todoist/releases/tag/v6.0.0-alpha.6)
- `v6.0.0-alpha.6`
- `v6.0.0-alpha.6`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-13 23:34] #152 closed

[2020-02-16 22:14] moranje commented on #31
Closing this. the Alfred interface doesn't lend itself for adding task comments.

[2020-02-16 22:14] #31 closed

[2020-02-16 22:19] moranje commented on #13
:tada: This issue has been resolved in version 6.0.0-alpha.8 :tada:

The release is available on:
- [GitHub release](https://github.com/moranje/alfred-workflow-todoist/releases/tag/v6.0.0-alpha.8)
- `v6.0.0-alpha.8`
- `v6.0.0-alpha.8`

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-16 22:21] moranje commented on #72
Closing this for now. Fuzzy matching is baked deeply into the workflow. For now the benefit of easy and fast results outweighs the disadvantage of having fewer exact results. Feel free to disagree, I'm willing to change my view if enough people do so.

[2020-02-16 22:21] #72 closed

[2020-02-23 15:38] moranje opened #153 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `alpha` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you ca

[2020-02-23 15:38] moranje commented on #153
## :rotating_light: The automated release from the `alpha` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you ca

[2020-02-24 20:30] wesleylancel opened #159 "[Bug] TypeError: Expected a JSON string, got '{"name": "read", "args": "\\"today\\""}' (string)"
### Description

Not sure if it's supposed to work in the latest alpha yet, but was testing filtering by Todoist.

### Steps to reproduce behavior

Using query `todos "today"`.

### Expected behavior

Return tasks due today.

### Error logs

ALFRED WORKFLOW TODOIST
----------------------------------------
_Title_: TypeError
_Description_: Expected a JSON string, got '{"name": "read", "args": "\\"t

[2020-02-24 22:48] moranje commented on #159
It is supposed to work in `alpha.9` and should not throw an error. Thanks for reporting, did you change the filter settings? I'll see what I can find.

Martien

[2020-02-24 23:11] #153 closed

[2020-02-25 19:38] wesleylancel commented on #159
Hi Martien,

I didn't change any settings in the workflow.

Double quotes & dollars are checked in the block, backquotes and backslashes are not. Enabling them doesn't solve the problem though.

- Wesley

[2020-02-25 20:05] moranje commented on #159
I've figured it out, the plist is outdated. I'll put a fix out shortly. Thanks for reporting.

[2020-02-25 21:34] moranje commented on #159
Let me know if `alpha.10` fixes this for you.

[2020-02-26 10:06] wesleylancel commented on #159
Just updated and it work! Thanks!

[2020-02-26 23:18] moranje commented on #159
Great, thanks for reporting

[2020-02-26 23:18] #159 closed

[2020-03-01 22:53] kellyarwine opened #160 "Todos command crashes on unknown project name"
### Description

Thank you for creating this!  I'm excited to find this workflow.  I configured it via the instructions.  Checked all configuration settings, they all are set.  Try to log a task and get an error (see below).

### Steps to reproduce

Steps to reproduce the behavior:

1. Alfred input 'todo test'
2. Press 'Enter'
3. See error in console.

### Expected behavior

A clear and concise de

[2020-03-02 12:17] moranje commented on #160
I can see you are using an outdated version of the workflow. I would recommend using the latest beta (6.0.0-beta.1). You can find it on the release tab on github.

Martien

[2020-03-03 17:41] kellyarwine commented on #160
Awesome.  Thanks for the help.  I updated the new version of the workflow.  Logging a todo item works but `todos` does not work.  Here's the output:
[code]

[2020-03-03 18:32] moranje commented on #160
Yup you caught a bug that I've tried to squash before, any chance you can provide the query that caused it? Also that link is meant to make it easy to report a bug, it should save you a little time, try it to see what I mean ;-). I'll post a fix within a day or two. Let me know if it fixes things for you.

Martien

[2020-03-03 20:46] kellyarwine commented on #160
Oh neat.  I think I understand the link.  Maybe "Click here to log a bug" would be a better CTA?  I was simply typing "todos" and got the error.  No arguments.

[2020-03-03 20:46] kellyarwine commented on #160
Nice.  Just tried the link to the bug.  Brilliant.

[2020-03-04 20:35] moranje commented on #160
I can't reproduce the error in any way on my machine. I can't figure out what would cause it either. I've created a debug version that should print out an id of the offending project or task, would you mind running it on your machine to see if this produces a more helpful error? If you just get an an id back can you tell met the name of the project it belongs to?

You can find the name by pasting

[2020-03-09 16:20] kellyarwine commented on #160
Hi there.  Back from a bit of time off.  Here's the logging I received:

[code]

[2020-03-09 19:43] moranje commented on #160
That's what I expected, still nothing off. Can you see if anything is weird the the name of that [project](https://todoist.com/app#project%2F1763554177). Anything else off?

[2020-03-10 00:57] kellyarwine commented on #160
Interesting, that is an old archived product.  I figured it would be my inbox.  How does it pick up that ID?

Other notable things:

* Node was installed with Homebrew
* [I have some Node configurations set up.  Maybe I shouldn't?](https://www.screencast.com/t/yBBqAXbKkm4t)

[2020-03-10 19:47] moranje commented on #160
I'm able to reproduce the error now, when I create a cached task with a reference to an archived project. That makes a lot of sense, thanks for your help!

[2020-03-11 15:05] kellyarwine commented on #160
Awesome, so should I just wait for a new release to be published?

[2020-03-11 19:16] moranje commented on #160
Yes, I'll post a new update soon!

[2020-03-11 20:02] kellyarwine commented on #160
:) It didn't work.  I got the `REFRESH CACHE` to come up but tried `todos` afterwards and get the same error (same project ID).  No problem waiting until a new release comes out though.  Thank you again.

[2020-03-11 21:03] moranje commented on #160
That sounds like I've solved another unrelated bug then. I've build you another version with the bug fix baked in. I also put in a few more log statements. These will only show up if you set `todo:setting log_level debug`. Based on your previous comment I'm afraid it may be bugsy still... It breaks my head.

### v6.0.0-debug.2

[Alfred Workflow Todoist.zip](https://github.com/moranje/alfred-workfl

[2020-03-11 23:48] kellyarwine commented on #160
Thank you!  Something different definitely happened.  It seems to not still reset the cache but I got a different log:
[code]

[2020-03-12 10:29] moranje commented on #160
That helps! Looks like an IFTTT that connects WeatherUnderground to Todoist, right? I've created a applet to see if I can reproduce. A couple questions:

1. Is that project indeed archived?
2. What is the name of the project?
3. Do these tasks appear archived as well in the Todoist app?
4. What did you use to archive the project (web/desktop/phone/API call)

Thanks Kelly!

[2020-03-12 17:47] kellyarwine commented on #160
Hi, @moranje.  We're making progress!  Yes, those tasks were oddly from Weather Underground IFTTT.  Interesting as they were writing to an archived project??  Seems like a bug.  I checked by configuration and have "Inbox" as the category.

So I deleted all of those tasks to move on from the issue.  Now we're making more progress but I still get the same error.  Here's the log:

[code]

[2020-03-23 11:27] moranje commented on #160
Hi Kelly,

Sorry for not responding earlier. Life got a little hectic here. I've been pondering a fix but haven't had time to sit down and implement it. I'll post it here as soon as I get a chance. Stay healthy,

Martien

[2020-03-23 16:30] kellyarwine commented on #160
Just FYI, @moranje the `todos` command started working!  Should we just consider this closed?

On another note, the command pulls up a bunch of completed tasks (and not the ones I just marked complete).  Is that what it's supposed to do?

[2020-03-24 08:12] moranje commented on #160
Haha, magical! So do you happen to be a premium user? if so you could try:

`todos "search: <query>"`

Where `<query>` would be what you normally type after `todos`. You'd query without hitting the cache. It sounds like it's either a cache problem or a problem with the REST API by Todoist.

Martien

[2020-03-24 14:39] kellyarwine commented on #160
Here's what I get.  I added a task called "make coffee" to the Inbox.  If I run your suggested command, this comes up:
![image](https://user-images.githubusercontent.com/2262535/77436887-02fd9180-6db2-11ea-9630-015b965f3442.png)

I'm confused about what I'm looking at.  Is this the intent?  Search a task and hit "Enter" and the task will complete?  The readme was short on details.

If so, it looks

[2020-03-24 15:12] moranje commented on #160
Yes that seems to be working as intended. Although searching in quotes is meant for using filters (same as in the Todoist app) and bypasses the cache. Normally `todos make coffee` is preferred and much faster. You can fiddle around with the cache options in settings. If `todos make coffee` works for you as well thanks I agree, lets close this issue.

Thanks for your patience, I hope to be able to

[2020-03-25 14:07] kellyarwine commented on #160
Done!  Thanks for all the help.  And thanks for the workflow.  I probably use it 30 times a day (big user of Todoist).

[2020-03-25 14:07] #160 closed

[2020-04-14 14:50] ggnall opened #166 "Cannot convert undefined or null to object"

[2020-04-14 17:26] ggnall opened #167 "[Bug] TypeError: Cannot convert undefined or null to object"
### Description

Issue creating tasks on first install.

### Steps to reproduce behavior

1. Installed workflow. (Have tried master, beta, and now alpha).
2. Configured (set token, node location)
3. Try to create a task

Looks like I'm not able to set anything with my input.

### Expected behavior

Task is created.

### Error logs

ALFRED WORKFLOW TODOIST
----------------------------------------
_

[2020-04-14 17:27] #166 closed

[2020-04-14 18:03] moranje commented on #167
Is this bug still in the latest beta?

[2020-04-14 18:50] ggnall commented on #167
Yes in both beta and alpha via: https://github.com/moranje/alfred-workflow-todoist/releases

I'm not sure if there's something wrong with my node setup

[2020-04-21 14:08] bstascavage commented on #167
I am seeing the same issue, BTW.  Maybe todoist updated something on their end?

[2020-04-29 23:21] pilec opened #168 "On creating task I cannot specify project name with special char in"
### Description
I'm using a todoist as a czech user and we have some weird symbols, like ěščýáé

### Steps to reproduce

Steps to reproduce the behavior:

1. Input todo Test task #Vývoj
2. See "CREATE: Test tas'kvoj"

### Expected behavior
See "CREATE Test task" for project Vývoj

[2020-05-15 19:24] moranje commented on #168
Hi my time to spend on this is limited at the moment, however if you share a debug log (check the docs). I'd be able to give you out fix it whenever I do get some time to work on this. I can't give any realistic timelines at this point. I'll update this issue when I do. Thanks for understanding.

[2020-05-23 10:46] mrokaini commented on #167
I have the same issue on the first install and the API request is not connecting with todoist.

[2020-05-27 17:06] jrosen48 commented on #128
Hi all, I am also getting the "couldn't update workflow" warning.

[2020-05-28 17:43] moranje commented on #128
Is this with the latest beta?

[2020-06-02 09:40] Dramaturco commented on #167
I have the same issue with 6.0.0-alpha10

I tried multiple different node setups because I thought it might have something to do with that.

[2020-06-06 16:43] edbltn commented on #128
I just downloaded it and I'm also getting this warning

[2020-06-07 20:20] moranje commented on #128
Hi @edbltn can you confirm that this is with the latest beta?

[2020-06-07 21:51] jrosen48 commented on #128
Sorry I missed this - this was with the version available at this link (accessed from the README):

https://github.com/moranje/alfred-workflow-todoist/releases/latest/download/Alfred.Workflow.Todoist.alfredworkflow

Is this not the latest beta? Thank you!

[2020-06-14 06:59] JunoCA commented on #128
Hey there. Thanks for your work on this.

Just installed and seeing the same error message. I downloaded from the main code page on GH, this is the link:
https://github.com/moranje/alfred-workflow-todoist/releases/latest/download/Alfred.Workflow.Todoist.alfredworkflow

It still seems to create tasks but always get the error first. I also see it is not searching old tasks that were not created with

[2020-06-15 19:11] moranje commented on #128
@jrosen48 @JunoCA No it's not, that's master.

The latest fairly stable release is at:

https://github.com/moranje/alfred-workflow-todoist/releases/download/v6.0.0-beta.1/Alfred.Workflow.Todoist.alfredworkflow

See if that helps.

Martien

[2020-06-16 01:44] JunoCA commented on #128
Awesome, thanks @moranje

Just imported and not seeing any issues i did before. Searching old tasks works too :)

thanks again!

[2020-06-25 20:17] pat-s commented on #128
I also faced this, the v6 beta1 release seems to fix it.

[2020-07-05 13:46] pbdco opened #175 "Cannot read property 'lenght' of null"
Installed node manually and added Todoist token but when triggering `todo {query}` this happens:

![image](https://user-images.githubusercontent.com/64397076/86534156-71bbb200-beac-11ea-8400-f0b7886be5dd.png)

Debug:

[10:43:27.848] Alfred Workflow Todoist[Script Filter] Queuing argument 'asd'
[10:43:28.396] Alfred Workflow Todoist[Script Filter] Script with argv '(null)' finished
[10:43:28.405] A

[2020-07-06 18:04] moranje commented on #175
Try the [latest beta](https://github.com/moranje/alfred-workflow-todoist/releases/download/v6.0.0-beta.1/Alfred.Workflow.Todoist.alfredworkflow)

[2020-07-12 23:23] stacksjb opened #178 "Parse final "," instead of first ",""
### Is your feature request related to a problem? Please describe.

I often need to create a task that has a comma within it, but that won't work because the workflow parses any "," as a date delimiter

### Describe the solution you'd like

Search from the end and parse only the final "," instead of all ","

### Additional context

For example, a todo such as "Call Amy, John, and Jim, oct 10" shou

[2020-07-13 06:03] moranje commented on #178
Sounds like a good idea. For now you are able to escape the ',' with '\'. You might have to use double '\\' to negate the escape character.

[2020-07-13 06:18] moranje commented on #178
On second thought, it's not possible with a comma and the end of the line character, for example `Get milk, eggs, flour and baking powder` would break the expectation that you are able use comma characters in the task description. So escaping seems to be the only way to use the comma end of line string anchors. Perhaps a way to denote a datetime in a string `Get milk {tommorow}`, what do you think

[2020-07-13 19:36] #175 closed

[2020-07-20 20:25] stacksjb commented on #178
This definitely seems to be like something that is going to be different for every user. You could use a different delimiter, but that has the same issue with whatever that one is. Something like [tomorrow] would require some rework to get used to that but would work. So would having to put in "due <date>" and parsing for "due" (then if it's not present, there would be no date).

I'm not sure how

[2020-07-22 07:44] jakubka commented on #167
Same with this setup:

_OS_: macOS 10.15.5
_Query_: [object Object]
_Node.js_: v12.13.0
_Alfred_: 3.8.6
_Workflow_: 6.0.0-beta.1
_Workflow-id_: user.workflow.0FF47443-16F9-4F1F-9287-59C0D0791DC5

[2020-10-08 11:06] paulwakeford opened #184 "Default project?"
I use Todoist at work and at home. For work, I use a single project for all tasks. I would like to add all tasks added by Alfred to that single project, without having to specify it every time. Is this possible (even by editing a file somewhere?). Thanks.

[2020-10-17 18:37] altosaar commented on #167
Same here

[2020-10-30 16:26] Robis74 opened #186 "[Bug] TypeError: Cannot convert undefined or null to object"
### Description

Pretty new to Alfred, ToDoIst and not a programmer! So no idea how to get this working... I got as far as adding my API token from ToDoIst, but that's about it... Installed Node JS by just clicking through it. Added a screenshot of my terminal if that helps...
![Screenshot 2020-10-30 at 17 25 36](https://user-images.githubusercontent.com/73709611/97731103-04740280-1ad5-11eb-9d1c-b

[2020-11-02 17:12] michbsd opened #190 "Open a task"
Hi,

When searching for tasks, I only have the option to complete it.
I would like to open the task (focus todoist app, and show the task) - as I am using the "comments" tab to track progress, follow-ups and block on my tasks.

Thanks, and thank you for a great workflow!

[2020-11-06 09:44] samlcharreyron commented on #186
I have the same with 6.0.0-beta1

[2020-12-18 07:20] jikanter opened #197 "[Bug] TypeError: Cannot read property 'name' of undefined - After Alfred update."
### Description

<A clear and concise description of what the bug is.>

### Steps to reproduce behavior

<Please describe what you did here.>

### Expected behavior

<A clear and concise description of what you expected to happen.>

### Error logs

ALFRED WORKFLOW TODOIST
----------------------------------------
_Title_: TypeError
_Description_: Cannot read property 'name' of undefined

_OS_: macO

[2021-02-17 14:42] robinbowes opened #201 "Noisy desktop notifications"
### Description

Desktop notifications seem to be unduly noisy.

### Steps to reproduce

Steps to reproduce the behavior:

1. Bring up Alfred
2. Enter "todo New Task"
3. Get lots of desktop notifications like this:

[Notification message](https://lh3.googleusercontent.com/pw/ACtC-3dlBVQpwvqvo_E1yKXLWad83gFtdCVtJ2EJI8GE145SnNv7zePQUg8tqZUO46fFpUzoMVxW9ojmhpXS1OfRTYWFfxRaoN74aYw3JcyJ79cRvpnD5Pw-gvKU

[2021-03-20 08:59] injoylin opened #203 "[Bug] TypeError: Cannot convert undefined or null to object"
### Description

<A clear and concise description of what the bug is.>

### Steps to reproduce behavior

<Please describe what you did here.>

### Expected behavior

<A clear and concise description of what you expected to happen.>

### Error logs

ALFRED WORKFLOW TODOIST
----------------------------------------
_Title_: TypeError
_Description_: Cannot convert undefined or null to object

_OS_: ma

[2021-03-20 09:01] injoylin opened #204 "[Bug] TypeError: Cannot convert undefined or null to object"
### Description

<A clear and concise description of what the bug is.>

### Steps to reproduce behavior

<Please describe what you did here.>

### Expected behavior

<A clear and concise description of what you expected to happen.>

### Error logs

ALFRED WORKFLOW TODOIST
----------------------------------------
_Title_: TypeError
_Description_: Cannot convert undefined or null to object

_OS_: ma

[2021-09-09 20:19] single-stop-rj opened #215 "terminal-notifier not trusted"
I recently installed - and when i go to ender a TODO into alfred, I get a MacOS error stating that terminal-notifier has been recently installed and is not trusted. i did a search for it, and there are actually 8 terminal-notifier apps in my system ( I am assuming from other software )

How do I correct this issue?

[2021-09-09 22:38] functionalStoic commented on #215
Hi @single-stop-rj,
I ran into this as well. After receiving the message:
- open up the Security & Privacy section of System Preferences
- Unlock if necessary
- allow terminal notifier when the message shows up at the bottom
- Then try again

Hope that helps!

[2021-10-13 07:29] Stooovie opened #216 "HTTPError: Response code 410 (Gone)"
Hi, I'm getting HTTPError: Response code 410 (Gone) when doing anything with this workflow.

Here's an example at trying to create a new task:

`[09:27:00.025] Alfred Workflow Todoist[Debug] 'Error log [Arguments] {
  '0': HTTPError: Response code 410 (Gone)
      at EventEmitter.<anonymous> (/Users/stooovie/SynologyDrive/Settings/Alfred/Alfred.alfredpreferences/workflows/user.workflow.1DD91EF0-6B

[2021-11-01 19:10] baptisteArno opened #217 "Stack: Error: spawn Unknown system error -86"
### Description

I'm trying to configure the workflow but it crashes instantly. I tried several node versions.

### Steps to reproduce

Steps to reproduce the behavior:

1. Alfred input 'todo:setting'
2. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Error logs

Log:

[code]

### Additional context
I'm on a M1 Macbook. Could that cause an iss

[2021-11-10 21:52] DevanFischer commented on #201
I am also experiencing this notification issue. Has there been any progress for you on this?

[2021-11-10 22:19] DevanFischer commented on #215
A second solution for anyone who cannot see the message in System Preferences as @functionalStoic suggested is:

1. Go to the workflow in Alfred Preferences
2. Right click on the Todoist workflow
3. Select open in Finder
![image](https://user-images.githubusercontent.com/25752779/141202333-b2c0d714-91ed-41c9-9351-c50da95a8e5e.png)
4. Open the notifier folder within the workflow folder
![image](htt

[2022-01-16 09:58] Stooovie opened #220 "specify a default list?"
hello, how can I specify a list for new todos? I use Todoist for Alexa Shopping List exclusively, but this workflow adds the todos into the default Todoist inbox, not the shopping list. Thanks.

[2022-02-05 22:52] ainaimi opened #221 "unable to get local issuer certificate?"
### Description

Thanks for this putting this workflow together. I've used it successfully (and extensively) in the past. After migrating to a new laptop I can't seem to get any of the functions to work. The problem always results in an "issuer certificate" problem, and I don't know how to solve it.

### Steps to reproduce

After installing the workflow, node, and setting the API, I call alfred an

[2022-02-08 14:08] moranje commented on #221
I haven't been active on the project for a while so I might be off, but that sounds like a general problem with an SSL certificate. Maybe todoist was having problems?

[2022-02-08 14:12] moranje commented on #201
Late to the party, but this is the way Alfred works, it executes with every new character. There's nothing I can change about that.

[2022-02-08 14:12] #201 closed

[2022-02-08 14:13] moranje commented on #215
Thanks 🙏

[2022-02-08 14:13] #215 closed

[2022-02-08 14:16] moranje commented on #217
Not entirely sure, I don't own an M1 mac (yet). Make sure you are one the latest beta.

[2022-02-08 15:24] robinbowes commented on #201
I'm not clear who's triggering the notification here - Alfred or the workflow - but could we avoid notifying when we're trying to get the length of "null" ? ie. just drop that silently?

[2022-02-08 19:04] moranje commented on #201
Try the latest beta, see if that fixes this for you.

[2022-02-15 23:38] joshvickerson commented on #216
I'm also having this issue. @Stooovie were you able to resolve this somehow?

[2022-02-16 05:08] moranje commented on #216
Download the latest beta, that should fix the problem.

---
Martien
On 16 feb. 2022 00:38 +0100, Josh Vickerson ***@***.***>, wrote:

[2022-02-16 08:36] Stooovie commented on #216
Great, works, thanks! Any idea how to set a default list? I use Todoist the most for Amazon Alexa Shopping lists, which is its own list in Todoist. I'd love to be able to set it as default so that when I add new task via Alfred, it goes right to this list.

[2022-03-10 17:09] Afondevi commented on #201
Same here

[2022-03-29 20:43] DevanFischer commented on #220
@Stooovie,

I acheived this by editing the workflow and setting up an additional keyword action.

[You can see how I set this up in this video...](https://www.loom.com/share/3fd8d8cdf49b452fb5149729f4f403a2)

Feel free to let me know if you run into any issues or need help getting it sorted out.

 I will do my best to help you. Best of luck to you!

[2022-04-28 00:44] kapild opened #236 "Disable Fuzzy search"
Is there a way to disable fuzzy search? Currently, I get too many irrelevant similar tasks for my search query.

[2022-08-15 19:15] #167 closed

[2022-08-17 14:24] stacksjb opened #240 "Tasks frequently create incompletely"
### Description

A clear and concise description of what the bug is.

### Steps to reproduce

Steps to reproduce the behavior:

1. Alfred input todo <task long task name you type in quickly>
2. Hit enter to create task before the parsing is complete3.
3. The created task is created truncated.cted behavior

A clear and concise description of what you expected to happen.

### Error logs

STEPS:

1.

[2022-08-17 14:48] stacksjb commented on #240
I played around with the settings under "Run behavior" Setting the Queue Delay to "Automatic" made the issue much worse. Setting the Queue Mode to "Terminate previous script" does prevent the issue from occurring, but it also keeps me from hitting enter until it has parsed my entry, which interrupts the workflow as I have to wait for it to parse (usually meaning I end up having to hit enter multip

[2022-08-17 19:46] stacksjb commented on #240
Since this was my primary (and only) workflow for Todoist, I searched high and low and found another great application that does exactly what I need and allows creation of tasks with Todoist Natural Language Processing (https://github.com/alanvardy/tod)
I wrapped it in an Alfred wrapper which I published here. Feedback welcome! https://github.com/stacksjb/AlfredTodWorkflow